html body {
  --cpe-body-cursor:auto!important;
  --cpe-auto-cursor: default!important;
  --cpe-blocked-cursor:not-allowed!important;
  --cpe-help-cursor:help!important;
  --cpe-text-cursor:text!important;
  --cpe-hand-cursor:pointer!important;
	font-family:"Helvetica Neue", "Helvetica", "Arial", sans-serif;
	margin:0;
	padding:0;
	background-color:var(--canvas-background-color);
}

:focus:not(:focus-visible) {
	outline:0;
}

:root {
--max-width:1500px; /* Tunic is a Mobile Skin */
}


#LunaLevit,
.gradient-overlay {
	--desktop-background-color:var(--canvas-background-color);
}

.desktop-background {
	display:none;
}

html {
/** Scrollbar Styling **/
	/* Track */
	--scrollbar-track-color-1:var(--canvas-background-color);
	--scrollbar-track-color-2:var(--canvas-background-color-hover);
	--scrollbar-thumb-color-1:var(--canvas-text-background-color);
	--scrollbar-thumb-color-2:var(--canvas-text-background-color-hover);
	--scrollbar-track-text:var(--canvas-text-background-color);
}

container {
	padding:0.3em;
	box-sizing:border-box;
	color:var(--canvas-text-background-color);
}

/* Theming for tunic  */
a, a.external { color: rgb(var(--hyperlink-background-color-rgb)); }
a:visited { color: rgb(var(--hyperlink-background-color-rgb)); }
a:hover, a:active, a.external:hover { color: var(--hyperlink-background-color-hover); }
a.stub { color: var(--progress-background-color); }
a.new,
#p-personal a.new { color:var(--alert-background-color); }
a.new:hover,
#p-personal a.new:hover { color:var(--alert-background-color-hover); }
a.new:visited,
#p-personal a.new:visited { color:var(--alert-background-color); }
a.new:visited:hover,
#p-personal a.new:visited:hover { color:var(--alert-background-color-hover); }


hr {
	color: rgb(var(--inactive-text-background-color-rgb));
	background-color:rgb(var(--inactive-text-background-color-rgb));
}

h1, h2, h3, h4, h5, h6 {
	color:rgb(var(--canvas-text-backround-color-rgb));
	border-bottom-color:rgb(var(--inactive-text-background-color-rgb));
}

fieldset, textarea, select, pre {
	border-color:var(--hyperlink-background-color);
	color:var(--canvas-text-background-color);
}

code, pre, .catlinks, #toc,  div.thumbinner, .toccolours {
	background-color:var(--canvas-secondary-background-color);
}

.usermessage {
	border-color:var(--warning-background-color-hover);
	background-color:var(--warning-background-color);
	color:var(--warning-foreground-color);
}

.catlinks, #toc, div.thumbinner, html .thumbimage, img.thumbborder, .toccolours {
	border-color:rgb(var(--inactive-text-background-color-rgb));
	
}

.documentByLine {
	color:var(--message-background-color);
}

ul.special li.not-patrolled, ol.special li.not-patrolled {
	background-color: rgba(var(--warning-background-color), 0.4);
}

span.updatedmarker {
	color:var(--success-foreground-color);
	background-color:var(--success-background-color);
}

body > container #footer {
	background-color: var(--canvas-secondary-background-color);
	border-top-color: var(--active-title-background-color);
	border-bottom-color: var(--active-title-background-color);
}

head:first-child + body input {
    visibility: visible;
    border-color: var(--highlight-background-color);
    color: rgb(var(--canvas-text-background-color-rgb));
    background-color: rgb(var(--canvas-background-color-rgb));
}

/*
head:first-child + body input[type="checkbox"],
head:first-child + body input[type="radio"] {
	border:0;
}
*/
