.theme-A.visualcolors-standard {
--desktop-background-image:url("");
--desktop-background-color:#ffcba4;
--desktop-text-background-color:#2d383a;
--canvas-background-color:#ffffff;
--inactive-text-background-color:#c8c8cd;
--canvas-text-background-color:#2d383a;
--highlight-background-color:#93ccea;
--hyperlink-background-color:#1e5aa8;
--active-title-background-color:#00755e;
--inactive-title-background-color:#01786f;
}

.theme-B.visualcolors-standard {
--desktop-background-image:url("");
--desktop-background-color:#ffcba4;
--desktop-text-background-color:#2d383a;
--canvas-background-color:#eed9c4;
--inactive-text-background-color:#c88a65;
--canvas-text-background-color:#2d383a;
--highlight-background-color:#ff8833;
--hyperlink-background-color:#664228;
--active-title-background-color:#fe6f5e;
--inactive-title-background-color:#ff7034;
}

.theme-C.visualcolors-standard {
--desktop-background-image:url("");
--desktop-background-color:#fbe7b2;
--desktop-text-background-color:#614051;
--canvas-background-color:#ffffff;
--inactive-text-background-color:#8b8680;
--canvas-text-background-color:#614051;
--highlight-background-color:#6456b7;
--hyperlink-background-color:#7070cc;
--active-title-background-color:#0066ff;
--inactive-title-background-color:#4570e6;
}

.theme-D.visualcolors-standard {
--desktop-background-image:url("");
--desktop-background-color:#fbe7b2;
--desktop-text-background-color:#614051;
--canvas-background-color:#eed9c4;
--inactive-text-background-color:#8d90a1;
--canvas-text-background-color:#614051;
--highlight-background-color:#664228;
--hyperlink-background-color:#003366;
--active-title-background-color:#926f5b;
--inactive-title-background-color:#c88a65;
}

.theme-E.visualcolors-standard {
--desktop-background-image:url("");
--desktop-background-color:#af593e;
--desktop-text-background-color:#eed9c4;
--canvas-background-color:#000000;
--inactive-text-background-color:#614051;
--canvas-text-background-color:#eed9c4;
--highlight-background-color:#1e5aa8;
--hyperlink-background-color:#95e0e8;
--active-title-background-color:#7ba05b;
--inactive-title-background-color:#63b76c;
}

.theme-F.visualcolors-standard {
--desktop-background-image:url("");
--desktop-background-color:#af593e;
--desktop-text-background-color:#eed9c4;
--canvas-background-color:#2d383a;
--inactive-text-background-color:#8b8680;
--canvas-text-background-color:#eed9c4;
--highlight-background-color:#664228;
--hyperlink-background-color:#ff8833;
--active-title-background-color:#b33b24;
--inactive-title-background-color:#d982b5;
}

.theme-G.visualcolors-standard {
--desktop-background-image:url("");
--desktop-background-color:#805533;
--desktop-text-background-color:#fdd5b1;
--canvas-background-color:#000000;
--inactive-text-background-color:#736a62;
--canvas-text-background-color:#fdd5b1;
--highlight-background-color:#7070cc;
--hyperlink-background-color:#6456b7;
--active-title-background-color:#1560bd;
--inactive-title-background-color:#0066cc;
}

.theme-H.visualcolors-standard {
--desktop-background-image:url("");
--desktop-background-color:#805533;
--desktop-text-background-color:#fdd5b1;
--canvas-background-color:#2d383a;
--inactive-text-background-color:#926f5b;
--canvas-text-background-color:#fdd5b1;
--highlight-background-color:#000000;
--hyperlink-background-color:#c88a65;
--active-title-background-color:#7070cc;
--inactive-title-background-color:#9999cc;
}


html body {
  --cpe-body-cursor:auto!important;
  --cpe-auto-cursor: default!important;
  --cpe-blocked-cursor:not-allowed!important;
  --cpe-help-cursor:help!important;
  --cpe-text-cursor:text!important;
  --cpe-hand-cursor:pointer!important;
	font-family:"Helvetica Neue", "Helvetica", "Arial", sans-serif;
	margin:0;
	padding:0;
	background-color:var(--canvas-background-color);
}

:focus:not(:focus-visible) {
	outline:0;
}

:root {
--max-width:1500px; /* Tunic is a Mobile Skin */
}


#LunaLevit,
.gradient-overlay {
	--desktop-background-color:var(--canvas-background-color);
}

.desktop-background {
	display:none;
}

html {
/** Scrollbar Styling **/
	/* Track */
	--scrollbar-track-color-1:var(--canvas-background-color);
	--scrollbar-track-color-2:var(--canvas-background-color-hover);
	--scrollbar-thumb-color-1:var(--canvas-text-background-color);
	--scrollbar-thumb-color-2:var(--canvas-text-background-color-hover);
	--scrollbar-track-text:var(--canvas-text-background-color);
}

container {
	padding:0.3em;
	box-sizing:border-box;
	color:var(--canvas-text-background-color);
}

/* Theming for tunic  */
a, a.external { color: rgb(var(--hyperlink-background-color-rgb)); }
a:visited { color: rgb(var(--hyperlink-background-color-rgb)); }
a:hover, a:active, a.external:hover { color: var(--hyperlink-background-color-hover); }
a.stub { color: var(--message-background-color); }
a.new,
#p-personal a.new { color:var(--alert-background-color); }
a.new:hover,
#p-personal a.new:hover { color:var(--alert-background-color-hover); }
a.new:visited,
#p-personal a.new:visited { color:var(--alert-background-color); }
a.new:visited:hover,
#p-personal a.new:visited:hover { color:var(--alert-background-color-hover); }


hr {
	color: rgb(var(--inactive-text-background-color-rgb));
	background-color:rgb(var(--inactive-text-background-color-rgb));
}

h1, h2, h3, h4, h5, h6 {
	color:rgb(var(--canvas-text-backround-color-rgb));
	border-bottom-color:rgb(var(--inactive-text-background-color-rgb));
}

fieldset, textarea, select, pre {
	border-color:var(--hyperlink-background-color);
	color:var(--canvas-text-background-color);
}

code, pre, .catlinks, #toc,  div.thumbinner, .toccolours {
	background-color:var(--canvas-secondary-background-color);
}

.usermessage {
	border-color:var(--warning-background-color-hover);
	background-color:var(--warning-background-color);
	color:var(--warning-foreground-color);
}

.catlinks, #toc, div.thumbinner, html .thumbimage, img.thumbborder, .toccolours {
	border-color:rgb(var(--inactive-text-background-color-rgb));
	
}

.documentByLine {
	color:var(--message-background-color);
}

ul.special li.not-patrolled, ol.special li.not-patrolled {
	background-color: rgba(var(--warning-background-color), 0.4);
}

span.updatedmarker {
	color:var(--success-foreground-color);
	background-color:var(--success-background-color);
}

body > container #footer {
	background-color: var(--canvas-secondary-background-color);
	border-top-color: var(--active-title-background-color);
	border-bottom-color: var(--active-title-background-color);
}

head:first-child + body input {
    visibility: visible;
    border-color: var(--highlight-background-color);
    color: rgb(var(--canvas-text-background-color-rgb));
    background-color: rgb(var(--canvas-background-color-rgb));
}

head:first-child + body input[type="checkbox"],
head:first-child + body input[type="radio"] {
	border:0;
}
