[theme="A"][visualcolors="standard"] {
--community-background-image:url("");
--community-background-color:#767676;
--community-background-size:contain;
--anchor-background-color:#562c05;
--page-background-color:#ffffff;
--page-border-background-color:#6e6e6e;
--page-text-background-color:#2b2b2b;
--accent-background-color:#4c4a48;
--sticky-header-background-color:#e2e2e2;
--toolbar-background-color:#ababab;
}

[theme="B"][visualcolors="standard"] {
--community-background-image:url("");
--community-background-color:#a13bc9;
--community-background-size:contain;
--anchor-background-color:#8b12ae;
--page-background-color:#d9cfe5;
--page-border-background-color:#800080;
--page-text-background-color:#2b2b2b;
--accent-background-color:#8e8cd8;
--sticky-header-background-color:#6b69d6;
--toolbar-background-color:#7e73a5;
}

[theme="C"][visualcolors="standard"] {
--community-background-image:url("");
--community-background-color:#000000;
--community-background-size:contain;
--anchor-background-color:#c0c0c0;
--page-background-color:#000000;
--page-border-background-color:#6e6e6e;
--page-text-background-color:#e2e2e2;
--accent-background-color:#4a5459;
--sticky-header-background-color:#69797e;
--toolbar-background-color:#879289;
}

[theme="D"][visualcolors="standard"] {
--community-background-image:url("");
--community-background-color:#180052;
--community-background-size:contain;
--anchor-background-color:#02abea;
--page-background-color:#0a3b76;
--page-border-background-color:#008080;
--page-text-background-color:#e2e2e2;
--accent-background-color:#0063b1;
--sticky-header-background-color:#0078d7;
--toolbar-background-color:#576dcd;
}

html body {
  --cpe-body-cursor:auto!important;
  --cpe-auto-cursor: default!important;
  --cpe-blocked-cursor:not-allowed!important;
  --cpe-help-cursor:help!important;
  --cpe-text-cursor:text!important;
  --cpe-hand-cursor:pointer!important;
	font-family:"Helvetica Neue", "Helvetica", "Arial", sans-serif;
	margin:0;
	padding:0;
}

:focus:not(:focus-visible) {
	outline:0;
}

:root {
--max-width:1440px; /* Tunic is a Mobile Skin */
--community-background-image:url("");
--community-background-image-opacity:100%;
--community-background-color:#f6f6f6;
--community-background-text-color:;
--community-background-mode:modern;
--community-background-horizontal-alignment:center;
--community-background-vertical-alignment:center;
--community-background-size:cover;
--community-background-no-tiling:false;
--anchor-background-color:#0645ad;
--page-background-color:#ffffff;
--page-border-background-color:#a2a9b1;
--page-text-background-color:#000000;
--accent-background-color:#3366cc;
--sticky-header-background-color:#fcd36c;
--toolbar-background-color:#aaa;
--caret-color:auto;
--custom-secondary-font:"";
--border-radius:3px;
--logo-filter:opacity(1);
--logo-filter-hover:opacity(0.8);
--logo-filter-duration:300ms;
--logo-filter-delay:0;
}


.body-community-background-color,
.gradient-overlay {
	--community-background-color-rgb:var(--page-background-color-rgb);
}

.body-community-background {
	display:none;
}

container {
/** Scrollbar Styling **/
	/* Track */
	--scrollbar-track-color-1:rgb(var(--page-background-color-rgb));
	--scrollbar-track-color-2:var(--page-secondary-background-color-hover);
	--scrollbar-track-color-3:var(--page-secondary-background-color-active);
	--scrollbar-track-text:rgb(var(--page-text-background-color-rgb));
	padding:0.3em;
	box-sizing:border-box;
	color:var(--page-text-background-color);
}

/* Theming for tunic  */
a, a.external { color: rgb(var(--anchor-background-color-rgb)); }
a:visited { color: rgb(var(--anchor-background-color-rgb)); }
a:hover, a:active, a.external:hover { color: var(--anchor-background-color-hover-dledlen); }
a.stub { color: var(--message-background-color); }
a.new,
#p-personal a.new { color:var(--alert-background-color); }
a.new:hover,
#p-personal a.new:hover { color:var(--alert-background-color-hover-dledlen); }
a.new:visited,
#p-personal a.new:visited { color:var(--alert-background-color); }
a.new:visited:hover,
#p-personal a.new:visited:hover { color:var(--alert-background-color-hover-dledlen); }


hr {
	color: rgb(var(--page-border-background-color-rgb));
	background-color:rgb(var(--page-border-background-color-rgb));
}

h1, h2, h3, h4, h5, h6 {
	color:rgb(var(--page-text-backround-color-rgb));
	border-bottom-color:rgb(var(--page-border-background-color-rgb));
}

fieldset, textarea, select, pre {
	border-color:var(--anchor-background-color);
}

code, pre, .catlinks, #toc,  div.thumbinner, .toccolours {
	background-color:var(--page-secondary-background-color);
}

.usermessage {
	border-color:var(--warning-gradient-color-hover);
	background-color:var(--warning-gradient-color);
	color:var(--warning-foreground-color);
}

.catlinks, #toc, div.thumbinner, html .thumbimage, img.thumbborder, .toccolours {
	border-color:rgb(var(--page-border-background-color-rgb));
	
}

.documentByLine {
	color:var(--message-background-color);
}

ul.special li.not-patrolled, ol.special li.not-patrolled {
	background-color: rgba(var(--warning-background-color), 0.4);
}

span.updatedmarker {
	color:var(--success-foreground-color);
	background-color:var(--success-background-color);
}

body > container #footer {
	background-color: var(--page-secondary-background-color);
	border-top-color: var(--sticky-header-background-color);
	border-bottom-color: var(--sticky-header-background-color);
}

head:first-child + body input {
    visibility: visible;
    border-color: var(--accent-background-color);
    color: rgb(var(--page-text-background-color-rgb));
    background-color: rgb(var(--page-background-color-rgb));
}

head:first-child + body input[type="checkbox"],
head:first-child + body input[type="radio"] {
	border:0;
}
