/** Color Schemes **/

/* Factory/OOBE */
.visualcolors-factorycolors {
	--system-visual-style:simple;
}

.theme-A.visualcolors-factorycolors {
--desktop-background-image:url("");
--desktop-background-color:#f4f4f4;
--desktop-text-background-color:#1b2a34;
--canvas-background-color:#ffffff;
--inactive-text-background-color:#d0d0d0;
--canvas-text-background-color:#1b2a34;
--highlight-background-color:#1e5aa8;
--hyperlink-background-color:#1e5aa8;
--active-title-background-color:#1e5aa8;
--inactive-title-background-color:#d0d0d0;
--custom-secondary-font:"Ubuntu";
--border-radius:10px;
}

.theme-B.visualcolors-factorycolors {
--desktop-background-image:url("");
--desktop-background-color:#f4f4f4;
--desktop-text-background-color:#0a1327;
--canvas-background-color:#ffffff;
--inactive-text-background-color:#d0d0d0;
--canvas-text-background-color:#0a1327;
--highlight-background-color:#069d9f;
--hyperlink-background-color:#069d9f;
--active-title-background-color:#069d9f;
--inactive-title-background-color:#d0d0d0;
--custom-secondary-font:"Ubuntu";
--border-radius:10px;
}

.theme-C.visualcolors-factorycolors {
--desktop-background-image:url("");
--desktop-background-color:#0a1327;
--desktop-text-background-color:#f4f4f4;
--canvas-background-color:#000000;
--inactive-text-background-color:#484d48;
--canvas-text-background-color:#f4f4f4;
--highlight-background-color:#6c96bf;
--hyperlink-background-color:#6c96bf;
--active-title-background-color:#6c96bf;
--inactive-title-background-color:#484d48;
--custom-secondary-font:"Ubuntu";
--border-radius:10px;
}

.theme-D.visualcolors-factorycolors {
--desktop-background-image:url("");
--desktop-background-color:#0a1327;
--desktop-text-background-color:#eeeeee;
--canvas-background-color:#000000;
--inactive-text-background-color:#484d48;
--canvas-text-background-color:#eeeeee;
--highlight-background-color:#00aaa4;
--hyperlink-background-color:#00aaa4;
--active-title-background-color:#00aaa4;
--inactive-title-background-color:#484d48;
--custom-secondary-font:"Ubuntu";
--border-radius:10px;
}

.theme-E.visualcolors-factorycolors {
--desktop-background-image:url("");
--desktop-background-color:#ffffff;
--desktop-text-background-color:#1b2a34;
--canvas-background-color:#f4f4f4;
--inactive-text-background-color:#d0d0d0;
--canvas-text-background-color:#1b2a34;
--highlight-background-color:#0e3e9a;
--hyperlink-background-color:#0e3e9a;
--active-title-background-color:#0e3e9a;
--inactive-title-background-color:#d0d0d0;
--custom-secondary-font:"Ubuntu";
--border-radius:10px;
}

.theme-F.visualcolors-factorycolors {
--desktop-background-image:url("");
--desktop-background-color:#ffffff;
--desktop-text-background-color:#0a1327;
--canvas-background-color:#f4f4f4;
--inactive-text-background-color:#d0d0d0;
--canvas-text-background-color:#0a1327;
--highlight-background-color:#00852b;
--hyperlink-background-color:#00852b;
--active-title-background-color:#00852b;
--inactive-title-background-color:#d0d0d0;
--custom-secondary-font:"Ubuntu";
--border-radius:10px;
}

.theme-G.visualcolors-factorycolors {
--desktop-background-image:url("");
--desktop-background-color:#000000;
--desktop-text-background-color:#f4f4f4;
--canvas-background-color:#0a1327;
--inactive-text-background-color:#484d48;
--canvas-text-background-color:#f4f4f4;
--highlight-background-color:#559ab7;
--hyperlink-background-color:#559ab7;
--active-title-background-color:#559ab7;
--inactive-title-background-color:#484d48;
--custom-secondary-font:"Ubuntu";
--border-radius:10px;
}

.theme-H.visualcolors-factorycolors {
--desktop-background-image:url("");
--desktop-background-color:#000000;
--desktop-text-background-color:#eeeeee;
--canvas-background-color:#0a1327;
--inactive-text-background-color:#484d48;
--canvas-text-background-color:#eeeeee;
--highlight-background-color:#7dc291;
--hyperlink-background-color:#7dc291;
--active-title-background-color:#7dc291;
--inactive-title-background-color:#484d48;
--custom-secondary-font:"Ubuntu";
--border-radius:10px;
}

/* Forced */
.visualcolors-forced {
	--system-visual-style:contrast;
}


.theme-A.visualcolors-forced {
--desktop-background-image:url("");
--desktop-background-color:#000000;
--desktop-text-background-color:#ffffff;
--canvas-background-color:#000000;
--inactive-text-background-color:#56e646;
--canvas-text-background-color:#fac80a;
--highlight-background-color:#00852b;
--hyperlink-background-color:#d3359d;
--active-title-background-color:#1e5aa8;
--inactive-title-background-color:#68c3e2;
}

.theme-B.visualcolors-forced {
--desktop-background-image:url("");
--desktop-background-color:#000000;
--desktop-text-background-color:#ffffff;
--canvas-background-color:#000000;
--inactive-text-background-color:#d0d0d0;
--canvas-text-background-color:#56e646;
--highlight-background-color:#1e5aa8;
--hyperlink-background-color:#d3359d;
--active-title-background-color:#68c3e2;
--inactive-title-background-color:#8a12a8;
}

.theme-C.visualcolors-forced {
--desktop-background-image:url("");
--desktop-background-color:#000000;
--desktop-text-background-color:#ffffff;
--canvas-background-color:#000000;
--inactive-text-background-color:#56e646;
--canvas-text-background-color:#ffffff;
--highlight-background-color:#68c3e4;
--hyperlink-background-color:#fac80a;
--active-title-background-color:#8a12a8;
--inactive-title-background-color:#1e5aa8;
}

.theme-D.visualcolors-forced {
--desktop-background-image:url("");
--desktop-background-color:#ffffff;
--desktop-text-background-color:#000000;
--canvas-background-color:#ffffff;
--inactive-text-background-color:#720012;
--canvas-text-background-color:#000000;
--highlight-background-color:#8a12a8;
--hyperlink-background-color:#0e3e9a;
--active-title-background-color:#000000;
--inactive-title-background-color:#ffffff;
}

.theme-E.visualcolors-forced {
--desktop-background-image:url("");
--desktop-background-color:#ffffff;
--desktop-text-background-color:#000000;
--canvas-background-color:#ffffff;
--inactive-text-background-color:#aa7f2e;
--canvas-text-background-color:#8a12a8;
--highlight-background-color:#fcac00;
--hyperlink-background-color:#d60026;
--active-title-background-color:#fac80a;
--inactive-title-background-color:#923978;
}

.theme-F.visualcolors-forced {
--desktop-background-image:url("");
--desktop-background-color:#ffffff;
--desktop-text-background-color:#000000;
--canvas-background-color:#ffffff;
--inactive-text-background-color:#0e3e9a;
--canvas-text-background-color:#1e5aa8;
--highlight-background-color:#b40000;
--hyperlink-background-color:#923978;
--active-title-background-color:#d60026;
--inactive-title-background-color:#fcac00;
}

.theme-G.visualcolors-forced {
--desktop-background-image:url("");
--desktop-background-color:#ffffff;
--desktop-text-background-color:#000000;
--canvas-background-color:#ffffff;
--inactive-text-background-color:#646464;
--canvas-text-background-color:#d60026;
--highlight-background-color:#923978;
--hyperlink-background-color:#872b17;
--active-title-background-color:#fcac00;
--inactive-title-background-color:#d3359d;
}

.theme-H.visualcolors-forced {
--desktop-background-image:url("");
--desktop-background-color:#000000;
--desktop-text-background-color:#ffffff;
--canvas-background-color:#000000;
--inactive-text-background-color:#d60026;
--canvas-text-background-color:#68c3e2;
--highlight-background-color:#d3359d;
--hyperlink-background-color:#fcac00;
--active-title-background-color:#646464;
--inactive-title-background-color:#000000;
}


/* Techno */
.visualcolors-techno {
	--system-visual-style:basic;
}


.theme-A.visualcolors-techno {
--desktop-background-image:url("banner.png");
--desktop-background-color:#58ab41;
--desktop-text-background-color:#ffff80;
--canvas-background-color:#e0ffb0;
--inactive-text-background-color:#add9a8;
--canvas-text-background-color:#58ab41;
--highlight-background-color:#00451a;
--hyperlink-background-color:#3cb371;
--active-title-background-color:#78fc78;
--inactive-title-background-color:#ffffff;
--system-acryllic-opacity:0.7;
}

.theme-B.visualcolors-techno {
--desktop-background-image:url("banner.png");
--desktop-background-color:#58ab41;
--desktop-text-background-color:#e0ffb0;
--canvas-background-color:#ffffff;
--inactive-text-background-color:#e0ffb0;
--canvas-text-background-color:#00451a;
--highlight-background-color:#58ab41;
--hyperlink-background-color:#00852b;
--active-title-background-color:#add9a8;
--inactive-title-background-color:#e0ffb0;
--system-acryllic-opacity:0.7;
}

.theme-C.visualcolors-techno {
--desktop-background-image:url("banner2.png");
--desktop-background-color:#58ab41;
--desktop-text-background-color:#e2f99a;
--canvas-background-color:#00451a;
--inactive-text-background-color:#00852b;
--canvas-text-background-color:#3cb371;
--highlight-background-color:#e0ffb0;
--hyperlink-background-color:#58ab41;
--active-title-background-color:#e2f99a;
--inactive-title-background-color:#000000;
--system-acryllic-opacity:0.7;
}

.theme-D.visualcolors-techno {
--desktop-background-image:url("banner2.png");
--desktop-background-image-opacity:100%;
--desktop-background-color:#58ab41;
--desktop-text-background-color:#add9a8;
--canvas-background-color:#000000;
--inactive-text-background-color:#58ab41;
--canvas-text-background-color:#00852b;
--highlight-background-color:#e2f99a;
--hyperlink-background-color:#78fc78;
--active-title-background-color:#c0ff00;
--inactive-title-background-color:#00451a;
--system-acryllic-opacity:0.7;
}

.theme-E.visualcolors-techno {
--desktop-background-image:url("banner.png");
--desktop-background-color:#58ab41;
--desktop-text-background-color:#ffff80;
--canvas-background-color:#e0ffb0;
--inactive-text-background-color:#00451a;
--canvas-text-background-color:#3cb371;
--highlight-background-color:#add9a8;
--hyperlink-background-color:#58ab41;
--active-title-background-color:#78fc78;
--inactive-title-background-color:#ffffff;
--system-acryllic-opacity:0.7;
}

.theme-F.visualcolors-techno {
--desktop-background-image:url("banner.png");
--desktop-background-color:#58ab41;
--desktop-text-background-color:#e0ffb0;
--canvas-background-color:#ffffff;
--inactive-text-background-color:#58ab41;
--canvas-text-background-color:#00852b;
--highlight-background-color:#e0ffb0;
--hyperlink-background-color:#00451a;
--active-title-background-color:#add9a8;
--inactive-title-background-color:#e0ffb0;
--system-acryllic-opacity:0.7;
}

.theme-G.visualcolors-techno {
--desktop-background-image:url("banner2.png");
--desktop-background-color:#58ab41;
--desktop-text-background-color:#e2f99a;
--canvas-background-color:#00451a;
--inactive-text-background-color:#e0ffb0;
--canvas-text-background-color:#58ab41;
--highlight-background-color:#00852b;
--hyperlink-background-color:#3cb371;
--active-title-background-color:#e2f99a;
--inactive-title-background-color:#000000;
--system-acryllic-opacity:0.7;
}

.theme-H.visualcolors-techno {
--desktop-background-image:url("banner2.png");
--desktop-background-image-opacity:100%;
--desktop-background-color:#58ab41;
--desktop-text-background-color:#add9a8;
--canvas-background-color:#000000;
--inactive-text-background-color:#e2f99a;
--canvas-text-background-color:#78fc78;
--highlight-background-color:#58ab41;
--hyperlink-background-color:#00852b;
--active-title-background-color:#c0ff00;
--inactive-title-background-color:#00451a;
--system-acryllic-opacity:0.7;
}


/** Retro **/
.visualcolors-retro,
.visualcolors-retro2 {
	--system-visual-style:classic;
}

/* First */
.theme-A.visualcolors-retro {
--desktop-background-image:url("");
--desktop-background-image-opacity:100%;
--desktop-background-color:#720012;
--desktop-text-background-color:#eeeeee;
--canvas-background-color:#bcb4a5;
--inactive-text-background-color:#897d62;
--canvas-text-background-color:#000000;
--highlight-background-color:#897d62;
--hyperlink-background-color:#b40000;
--active-title-background-color:#b40000;
--inactive-title-background-color:#897d62;
--custom-secondary-font:"";
--border-radius:0px;
--icon-filter:none;
--icon-filter-hover:none;
--icon-filter-duration:0ms;
--icon-filter-delay:0ms;
}

.theme-B.visualcolors-retro {
--desktop-background-image:url("");
--desktop-background-image-opacity:100%;
--desktop-background-color:#b0a06f;
--desktop-text-background-color:#000000;
--canvas-background-color:#c8c8c8;
--inactive-text-background-color:#b0a06f;
--canvas-text-background-color:#000000;
--highlight-background-color:#069d9f;
--hyperlink-background-color:#069d9f;
--active-title-background-color:#069d9f;
--inactive-title-background-color:#b0a06f;
--custom-secondary-font:"";
--border-radius:0px;
--icon-filter:none;
--icon-filter-hover:none;
--icon-filter-duration:0ms;
--icon-filter-delay:0ms;
}

.theme-C.visualcolors-retro {
--desktop-background-image:url("");
--desktop-background-image-opacity:100%;
--desktop-background-color:#671f81;
--desktop-text-background-color:#eeeeee;
--canvas-background-color:#7dc291;
--inactive-text-background-color:#708e7c;
--canvas-text-background-color:#000000;
--highlight-background-color:#708e7c;
--hyperlink-background-color:#708e7c;
--active-title-background-color:#708e7c;
--inactive-title-background-color:#7dc291;
--custom-secondary-font:"";
--border-radius:0px;
--icon-filter:none;
--icon-filter-hover:none;
--icon-filter-duration:0ms;
--icon-filter-delay:0ms;
}

.theme-D.visualcolors-retro {
--desktop-background-image:url("");
--desktop-background-image-opacity:100%;
--desktop-background-color:#000000;
--desktop-text-background-color:#eeeeee;
--canvas-background-color:#a5a5cb;
--inactive-text-background-color:#441a91;
--canvas-text-background-color:#000000;
--highlight-background-color:#441a91;
--hyperlink-background-color:#441a91;
--active-title-background-color:#441a91;
--inactive-title-background-color:#7f7f7f;
--custom-secondary-font:"";
--border-radius:0px;
--icon-filter:none;
--icon-filter-hover:none;
--icon-filter-duration:0ms;
--icon-filter-delay:0ms;
}

.theme-E.visualcolors-retro {
--desktop-background-image:url("");
--desktop-background-image-opacity:100%;
--desktop-background-color:#000000;
--desktop-text-background-color:#eeeeee;
--canvas-background-color:#f6f2df;
--inactive-text-background-color:#dbac34;
--canvas-text-background-color:#000000;
--highlight-background-color:#dbac34;
--hyperlink-background-color:#dbac34;
--active-title-background-color:#b40000;
--inactive-title-background-color:#dbac34;
--custom-secondary-font:"";
--border-radius:0px;
--icon-filter:none;
--icon-filter-hover:none;
--icon-filter-duration:0ms;
--icon-filter-delay:0ms;
}

.theme-F.visualcolors-retro {
--desktop-background-image:url("");
--desktop-background-image-opacity:100%;
--desktop-background-color:#00451a;
--desktop-text-background-color:#eeeeee;
--canvas-background-color:#9cd6cc;
--inactive-text-background-color:#7dc291;
--canvas-text-background-color:#000000;
--highlight-background-color:#0020a0;
--hyperlink-background-color:#0020a0;
--active-title-background-color:#0020a0;
--inactive-title-background-color:#7dc291;
--custom-secondary-font:"";
--border-radius:0px;
--icon-filter:none;
--icon-filter-hover:none;
--icon-filter-duration:0ms;
--icon-filter-delay:0ms;
}

.theme-G.visualcolors-retro {
--desktop-background-image:url("");
--desktop-background-image-opacity:100%;
--desktop-background-color:#543324;
--desktop-text-background-color:#eeeeee;
--canvas-background-color:#b0a06f;
--inactive-text-background-color:#aa7d55;
--canvas-text-background-color:#000000;
--highlight-background-color:#00aaa4;
--hyperlink-background-color:#564e9d;
--active-title-background-color:#564e9d;
--inactive-title-background-color:#aa7d55;
--custom-secondary-font:"";
--border-radius:0px;
--icon-filter:none;
--icon-filter-hover:none;
--icon-filter-duration:0ms;
--icon-filter-delay:0ms;
}

.theme-H.visualcolors-retro {
--desktop-background-image:url("");
--desktop-background-image-opacity:100%;
--desktop-background-color:#352100;
--desktop-text-background-color:#eeeeee;
--canvas-background-color:#dfc176;
--inactive-text-background-color:#deac66;
--canvas-text-background-color:#000000;
--highlight-background-color:#8a12a8;
--hyperlink-background-color:#deac66;
--active-title-background-color:#deac66;
--inactive-title-background-color:#989b99;
--custom-secondary-font:"";
--border-radius:0px;
--icon-filter:none;
--icon-filter-hover:none;
--icon-filter-duration:0ms;
--icon-filter-delay:0ms;
}

/* Second */
.theme-A.visualcolors-retro2 {
--desktop-background-image:url("");
--desktop-background-image-opacity:100%;
--desktop-background-color:#000000;
--desktop-text-background-color:#eeeeee;
--canvas-background-color:#afbed6;
--inactive-text-background-color:#70819a;
--canvas-text-background-color:#000000;
--highlight-background-color:#70819a;
--hyperlink-background-color:#70819a;
--active-title-background-color:#70819a;
--inactive-title-background-color:#7f7f7f;
--custom-secondary-font:"";
--border-radius:0px;
--icon-filter:none;
--icon-filter-hover:none;
--icon-filter-duration:0ms;
--icon-filter-delay:0ms;
}

.theme-B.visualcolors-retro2 {
--desktop-background-image:url("");
--desktop-background-image-opacity:100%;
--desktop-background-color:#19325a;
--desktop-text-background-color:#eeeeee;
--canvas-background-color:#c8c8c8;
--inactive-text-background-color:#bcb4a5;
--canvas-text-background-color:#000000;
--highlight-background-color:#720012;
--hyperlink-background-color:#720012;
--active-title-background-color:#720012;
--inactive-title-background-color:#7f7f7f;
--custom-secondary-font:"";
--border-radius:0px;
--icon-filter:none;
--icon-filter-hover:none;
--icon-filter-duration:0ms;
--icon-filter-delay:0ms;
}

.theme-C.visualcolors-retro2 {
--desktop-background-image:url("");
--desktop-background-image-opacity:100%;
--desktop-background-color:#7f7f7f;
--desktop-text-background-color:#000000;
--canvas-background-color:#f6a9bb;
--inactive-text-background-color:#aa4d8e;
--canvas-text-background-color:#000000;
--highlight-background-color:#aa4d8e;
--active-title-background-color:#aa4d8e;
--hyperlink-background-color:#aa4d8e;
--inactive-title-background-color:#989b99;
--custom-secondary-font:"";
--border-radius:0px;
--icon-filter:none;
--icon-filter-hover:none;
--icon-filter-duration:0ms;
--icon-filter-delay:0ms;
}

.theme-D.visualcolors-retro2 {
--desktop-background-image:url("");
--desktop-background-image-opacity:100%;
--desktop-background-color:#484d48;
--desktop-text-background-color:#eeeeee;
--canvas-background-color:#97cbd9;
--inactive-text-background-color:#6c96bf;
--canvas-text-background-color:#000000;
--highlight-background-color:#6c96bf;
--hyperlink-background-color:#6c96bf;
--active-title-background-color:#6c96bf;
--inactive-title-background-color:#7f7f7f;
--custom-secondary-font:"";
--border-radius:0px;
--icon-filter:none;
--icon-filter-hover:none;
--icon-filter-duration:0ms;
--icon-filter-delay:0ms;
}

.theme-E.visualcolors-retro2 {
--desktop-background-image:url("");
--desktop-background-image-opacity:100%;
--desktop-background-color:#00451a;
--desktop-text-background-color:#eeeeee;
--canvas-background-color:#add9a8;
--inactive-text-background-color:#3cb371;
--canvas-text-background-color:#000000;
--highlight-background-color:#3cb371;
--hyperlink-background-color:#3cb371;
--active-title-background-color:#3cb371;
--inactive-title-background-color:#7f7f7f;
--custom-secondary-font:"";
--border-radius:0px;
--icon-filter:none;
--icon-filter-hover:none;
--icon-filter-duration:0ms;
--icon-filter-delay:0ms;
}

.theme-F.visualcolors-retro2 {
--desktop-background-image:url("");
--desktop-background-image-opacity:100%;
--desktop-background-color:#000000;
--desktop-text-background-color:#eeeeee;
--canvas-background-color:#c8c8c8;
--inactive-text-background-color:#bcb4a5;
--canvas-text-background-color:#000000;
--highlight-background-color:#8a12a8;
--hyperlink-background-color:#8a12a8;
--active-title-background-color:#8a12a8;
--inactive-title-background-color:#7f7f7f;
--custom-secondary-font:"";
--border-radius:0px;
--icon-filter:none;
--icon-filter-hover:none;
--icon-filter-duration:0ms;
--icon-filter-delay:0ms;
}

.theme-G.visualcolors-retro2 {
--desktop-background-image:url("");
--desktop-background-image-opacity:100%;
--desktop-background-color:#00451a;
--desktop-text-background-color:#eeeeee;
--canvas-background-color:#c8c8c8;
--inactive-text-background-color:#bcb4a5;
--canvas-text-background-color:#000000;
--highlight-background-color:#069d9f;
--hyperlink-background-color:#069d9f;
--active-title-background-color:#069d9f;
--inactive-title-background-color:#7f7f7f;
--custom-secondary-font:"";
--border-radius:0px;
--icon-filter:none;
--icon-filter-hover:none;
--icon-filter-duration:0ms;
--icon-filter-delay:0ms;
}

.theme-H.visualcolors-retro2 {
--desktop-background-image:url("");
--desktop-background-image-opacity:100%;
--desktop-background-color:#00451a;
--desktop-text-background-color:#eeeeee;
--canvas-background-color:#ffec6c;
--inactive-text-background-color:#a5ca18;
--canvas-text-background-color:#000000;
--highlight-background-color:#a5ca18;
--hyperlink-background-color:#a5ca18;
--active-title-background-color:#a5ca18;
--inactive-title-background-color:#a5ca18;
--custom-secondary-font:"";
--border-radius:0px;
--icon-filter:none;
--icon-filter-hover:none;
--icon-filter-duration:0ms;
--icon-filter-delay:0ms;
}

/* Neon Colors */
.visualcolors-neon {
	--system-visual-style:classiccontrast;
}

.theme-A.visualcolors-neon {
--desktop-background-image:url("");
--desktop-background-image-opacity:100%;
--desktop-background-color:#000000;
--desktop-text-background-color:#e2f99a;
--canvas-background-color:#000000;
--inactive-text-background-color:#969696;
--canvas-text-background-color:#e2f99a;
--highlight-background-color:#c0ff00;
--hyperlink-background-color:#56e646;
--active-title-background-color:#78fc78;
--inactive-title-background-color:#ffffff;
--custom-secondary-font:"";
--border-radius:3px;
--icon-filter:sepia(0) hue-rotate(0deg) saturate(100%) brightness(100%) opacity(1) invert(0);
--icon-filter-hover:sepia(1) hue-rotate(240deg) saturate(800%) brightness(125%) opacity(0.8) invert(1);
--icon-filter-duration:300ms;
--icon-filter-delay:0ms;
--system-acryllic-opacity:0.5;
}

.theme-B.visualcolors-neon {
--desktop-background-image:url("");
--desktop-background-image-opacity:100%;
--desktop-background-color:#000000;
--desktop-text-background-color:#9cd6cc;
--canvas-background-color:#000000;
--inactive-text-background-color:#969696;
--canvas-text-background-color:#9cd6cc;
--highlight-background-color:#6babe4;
--hyperlink-background-color:#aee9ef;
--active-title-background-color:#9dc3f7;
--inactive-title-background-color:#ffffff;
--custom-secondary-font:"";
--border-radius:3px;
--icon-filter:sepia(0) hue-rotate(0deg) saturate(100%) brightness(100%) opacity(1) invert(0);
--icon-filter-hover:sepia(1) hue-rotate(0deg) saturate(800%) brightness(125%) opacity(0.8) invert(1);
--icon-filter-duration:300ms;
--icon-filter-delay:0ms;
--system-acryllic-opacity:0.5;
}

.theme-C.visualcolors-neon {
--desktop-background-image:url("");
--desktop-background-image-opacity:100%;
--desktop-background-color:#000000;
--desktop-text-background-color:#ff9ecd;
--canvas-background-color:#000000;
--inactive-text-background-color:#969696;
--canvas-text-background-color:#ff9ecd;
--highlight-background-color:#f785b1;
--hyperlink-background-color:#fc97ac;
--active-title-background-color:#c281a5;
--inactive-title-background-color:#ffffff;
--custom-secondary-font:"";
--border-radius:3px;
--icon-filter:sepia(0) hue-rotate(0deg) saturate(100%) brightness(100%) opacity(1) invert(0);
--icon-filter-hover:sepia(1) hue-rotate(90deg) saturate(800%) brightness(125%) opacity(0.8) invert(1);
--icon-filter-duration:300ms;
--icon-filter-delay:0ms;
--system-acryllic-opacity:0.5;
}

.theme-D.visualcolors-neon {
--desktop-background-image:url("");
--desktop-background-image-opacity:100%;
--desktop-background-color:#000000;
--desktop-text-background-color:#fcac00;
--canvas-background-color:#000000;
--inactive-text-background-color:#969696;
--canvas-text-background-color:#fcac00;
--highlight-background-color:#f08f1c;
--hyperlink-background-color:#ff800d;
--active-title-background-color:#d67923;
--inactive-title-background-color:#ffffff;
--custom-secondary-font:"";
--border-radius:3px;
--icon-filter:sepia(0) hue-rotate(0deg) saturate(100%) brightness(100%) opacity(1) invert(0);
--icon-filter-hover:sepia(1) hue-rotate(180deg) saturate(800%) brightness(125%) opacity(0.8) invert(1);
--icon-filter-duration:300ms;
--icon-filter-delay:0ms;
--system-acryllic-opacity:0.5;
}

.theme-E.visualcolors-neon {
--desktop-background-image:url("");
--desktop-background-image-opacity:100%;
--desktop-background-color:#000000;
--desktop-text-background-color:#f06d61;
--canvas-background-color:#000000;
--inactive-text-background-color:#969696;
--canvas-text-background-color:#f06d61;
--highlight-background-color:#c91a09;
--hyperlink-background-color:#ff6d77;
--active-title-background-color:#b40000;
--inactive-title-background-color:#ffffff;
--custom-secondary-font:"";
--border-radius:3px;
--icon-filter:sepia(0) hue-rotate(0deg) saturate(100%) brightness(100%) opacity(1) invert(0);
--icon-filter-hover:sepia(1) hue-rotate(130deg) saturate(800%) brightness(125%) opacity(0.8) invert(1);
--icon-filter-duration:300ms;
--icon-filter-delay:0ms;
--system-acryllic-opacity:0.5;
}

.theme-F.visualcolors-neon {
--desktop-background-image:url("");
--desktop-background-image-opacity:100%;
--desktop-background-color:#000000;
--desktop-text-background-color:#ffec6c;
--canvas-background-color:#000000;
--inactive-text-background-color:#969696;
--canvas-text-background-color:#ffec6c;
--highlight-background-color:#fac80a;
--hyperlink-background-color:#dfc176;
--active-title-background-color:#f5cd2f;
--inactive-title-background-color:#ffffff;
--custom-secondary-font:"";
--border-radius:3px;
--icon-filter:sepia(0) hue-rotate(0deg) saturate(100%) brightness(100%) opacity(1) invert(0);
--icon-filter-hover:sepia(1) hue-rotate(200deg) saturate(800%) brightness(125%) opacity(0.8) invert(1);
--icon-filter-duration:300ms;
--icon-filter-delay:0ms;
--system-acryllic-opacity:0.5;
}

.theme-G.visualcolors-neon {
--desktop-background-image:url("");
--desktop-background-image-opacity:100%;
--desktop-background-color:#000000;
--desktop-text-background-color:#cda4de;
--canvas-background-color:#000000;
--inactive-text-background-color:#969696;
--canvas-text-background-color:#cda4de;
--highlight-background-color:#8e5597;
--hyperlink-background-color:#a5a5cb;
--active-title-background-color:#8a12a8;
--inactive-title-background-color:#ffffff;
--custom-secondary-font:"";
--border-radius:3px;
--icon-filter:sepia(0) hue-rotate(0deg) saturate(100%) brightness(100%) opacity(1) invert(0);
--icon-filter-hover:sepia(1) hue-rotate(45deg) saturate(800%) brightness(125%) opacity(0.8) invert(1);
--icon-filter-duration:300ms;
--icon-filter-delay:0ms;
--system-acryllic-opacity:0.5;
}

.theme-H.visualcolors-neon {
--desktop-background-image:url("");
--desktop-background-image-opacity:100%;
--desktop-background-color:#000000;
--desktop-text-background-color:#eeeeee;
--canvas-background-color:#000000;
--inactive-text-background-color:#969696;
--canvas-text-background-color:#eeeeee;
--highlight-background-color:#7f7f7f;
--hyperlink-background-color:#cecece;
--active-title-background-color:#ffffff;
--inactive-title-background-color:#ffffff;
--custom-secondary-font:"";
--border-radius:3px;
--icon-filter:sepia(0) grayscale(0) saturate(100%) brightness(100%) opacity(1) invert(0);
--icon-filter-hover:sepia(1) grayscale(1) saturate(800%) brightness(125%) opacity(0.8) invert(1);
--icon-filter-duration:300ms;
--icon-filter-delay:0ms;
--system-acryllic-opacity:0.5;
}

/* Evelution */
.visualcolors-evelution {
	--system-visual-style:lite;
}

.theme-A.visualcolors-evelution {
--desktop-background-image:url("Evelution.png");
--desktop-background-image-opacity:100%;
--desktop-background-color:#9dc3f7;
--desktop-text-background-color:#000000;
--desktop-background-mode:full;
--desktop-background-size:contain;
--desktop-background-horizontal-alignment:center;
--desktop-background-vertical-alignment:center;
--desktop-background-no-horizontal-tiling:true;
--desktop-background-no-vertical-tiling:true;
--canvas-background-color:#ffffff;
--inactive-text-background-color:#7f7f7f;
--canvas-text-background-color:#000000;
--highlight-background-color:#1e5aa8;
--hyperlink-background-color:#1e5aa8;
--active-title-background-color:#1e5aa8;
--inactive-title-background-color:#ffffff;
--custom-font:"Didact Gothic";
--custom-secondary-font:"Rubik";
--border-radius:3px;
--icon-filter:opacity(1);
--icon-filter-hover:opacity(0.8);
--icon-filter-duration:300ms;
--icon-filter-delay:0ms;
}

.theme-B.visualcolors-evelution {
--desktop-background-image:url("Evelution.png");
--desktop-background-image-opacity:100%;
--desktop-background-color:#ffec6c;
--desktop-text-background-color:#000000;
--desktop-background-mode:full;
--desktop-background-size:contain;
--desktop-background-horizontal-alignment:center;
--desktop-background-vertical-alignment:center;
--desktop-background-no-horizontal-tiling:true;
--desktop-background-no-vertical-tiling:true;
--canvas-background-color:#ffffff;
--inactive-text-background-color:#7f7f7f;
--canvas-text-background-color:#000000;
--highlight-background-color:#dbac34;
--hyperlink-background-color:#dbac34;
--active-title-background-color:#dbac34;
--inactive-title-background-color:#ffffff;
--custom-font:"Didact Gothic";
--custom-secondary-font:"Rubik";
--border-radius:3px;
--icon-filter:opacity(1);
--icon-filter-hover:opacity(0.8);
--icon-filter-duration:300ms;
--icon-filter-delay:0ms;
}

.theme-C.visualcolors-evelution {
--desktop-background-image:url("Evelution.png");
--desktop-background-image-opacity:100%;
--desktop-background-color:#78fc78;
--desktop-text-background-color:#000000;
--desktop-background-mode:full;
--desktop-background-size:contain;
--desktop-background-horizontal-alignment:center;
--desktop-background-vertical-alignment:center;
--desktop-background-no-horizontal-tiling:true;
--desktop-background-no-vertical-tiling:true;
--canvas-background-color:#ffffff;
--inactive-text-background-color:#7f7f7f;
--canvas-text-background-color:#000000;
--highlight-background-color:#00852b;
--hyperlink-background-color:#00852b;
--active-title-background-color:#00852b;
--inactive-title-background-color:#ffffff;
--custom-font:"Didact Gothic";
--custom-secondary-font:"Rubik";
--border-radius:3px;
--icon-filter:opacity(1);
--icon-filter-hover:opacity(0.8);
--icon-filter-duration:300ms;
--icon-filter-delay:0ms;
}

.theme-D.visualcolors-evelution {
--desktop-background-image:url("Evelution.png");
--desktop-background-image-opacity:100%;
--desktop-background-color:#f06d61;
--desktop-text-background-color:#000000;
--desktop-background-mode:full;
--desktop-background-size:contain;
--desktop-background-horizontal-alignment:center;
--desktop-background-vertical-alignment:center;
--desktop-background-no-horizontal-tiling:true;
--desktop-background-no-vertical-tiling:true;
--canvas-background-color:#ffffff;
--inactive-text-background-color:#7f7f7f;
--canvas-text-background-color:#000000;
--highlight-background-color:#c91a09;
--hyperlink-background-color:#c91a09;
--active-title-background-color:#c91a09;
--inactive-title-background-color:#ffffff;
--custom-font:"Didact Gothic";
--custom-secondary-font:"Rubik";
--border-radius:3px;
--icon-filter:opacity(1);
--icon-filter-hover:opacity(0.8);
--icon-filter-duration:300ms;
--icon-filter-delay:0ms;
}

.theme-E.visualcolors-evelution {
--desktop-background-image:url("Evelution.png");
--desktop-background-image-opacity:100%;
--desktop-background-color:#8a12a8;
--desktop-text-background-color:#ffffff;
--desktop-background-mode:full;
--desktop-background-size:contain;
--desktop-background-horizontal-alignment:center;
--desktop-background-vertical-alignment:center;
--desktop-background-no-horizontal-tiling:true;
--desktop-background-no-vertical-tiling:true;
--canvas-background-color:#000000;
--inactive-text-background-color:#d0d0d0;
--canvas-text-background-color:#ffffff;
--highlight-background-color:#a06eb9;
--hyperlink-background-color:#a06eb9;
--active-title-background-color:#a06eb9;
--inactive-title-background-color:#ffffff;
--custom-font:"Didact Gothic";
--custom-secondary-font:"Rubik";
--border-radius:3px;
--icon-filter:opacity(1);
--icon-filter-hover:opacity(0.8);
--icon-filter-duration:300ms;
--icon-filter-delay:0ms;
}

.theme-F.visualcolors-evelution {
--desktop-background-image:url("Evelution.png");
--desktop-background-image-opacity:100%;
--desktop-background-color:#5f3109;
--desktop-text-background-color:#ffffff;
--desktop-background-mode:full;
--desktop-background-size:contain;
--desktop-background-horizontal-alignment:center;
--desktop-background-vertical-alignment:center;
--desktop-background-no-horizontal-tiling:true;
--desktop-background-no-vertical-tiling:true;
--canvas-background-color:#000000;
--inactive-text-background-color:#d0d0d0;
--canvas-text-background-color:#ffffff;
--highlight-background-color:#ab6038;
--hyperlink-background-color:#ad6140;
--active-title-background-color:#ab6038;
--inactive-title-background-color:#ffffff;
--custom-font:"Didact Gothic";
--custom-secondary-font:"Rubik";
--border-radius:3px;
--icon-filter:opacity(1);
--icon-filter-hover:opacity(0.8);
--icon-filter-duration:300ms;
--icon-filter-delay:0ms;
}

.theme-G.visualcolors-evelution {
--desktop-background-image:url("Evelution.png");
--desktop-background-image-opacity:100%;
--desktop-background-color:#aa4d8e;
--desktop-text-background-color:#ffffff;
--desktop-background-mode:full;
--desktop-background-size:contain;
--desktop-background-horizontal-alignment:center;
--desktop-background-vertical-alignment:center;
--desktop-background-no-horizontal-tiling:true;
--desktop-background-no-vertical-tiling:true;
--canvas-background-color:#000000;
--inactive-text-background-color:#d0d0d0;
--canvas-text-background-color:#ffffff;
--highlight-background-color:#df6695;
--hyperlink-background-color:#df6695;
--active-title-background-color:#df6695;
--inactive-title-background-color:#ffffff;
--custom-font:"Didact Gothic";
--custom-secondary-font:"Rubik";
--border-radius:3px;
--icon-filter:opacity(1);
--icon-filter-hover:opacity(0.8);
--icon-filter-duration:300ms;
--icon-filter-delay:0ms;
}

.theme-H.visualcolors-evelution {
--desktop-background-image:url("Evelution.png");
--desktop-background-image-opacity:100%;
--desktop-background-color:#5b7590;
--desktop-text-background-color:#ffffff;
--desktop-background-mode:full;
--desktop-background-size:contain;
--desktop-background-horizontal-alignment:center;
--desktop-background-vertical-alignment:center;
--desktop-background-no-horizontal-tiling:true;
--desktop-background-no-vertical-tiling:true;
--canvas-background-color:#000000;
--inactive-text-background-color:#d0d0d0;
--canvas-text-background-color:#ffffff;
--highlight-background-color:#6c96bf;
--hyperlink-background-color:#6c96bf;
--active-title-background-color:#6c96bf;
--inactive-title-background-color:#ffffff;
--custom-font:"Didact Gothic";
--custom-secondary-font:"Rubik";
--border-radius:3px;
--icon-filter:opacity(1);
--icon-filter-hover:opacity(0.8);
--icon-filter-duration:300ms;
--icon-filter-delay:0ms;
}