/** Forced Colors **/
/* 2020 */
[theme="A"][visualcolors="forced"]  {
--body-background-image:url("");
--body-background-color:#000000;
--secondary-accent-background-color:#f20884;
--page-background-color:#000000;
--page-border-background-color:#1fb714;
--page-text-background-color:#fbf305;
--accent-background-color:#006412;
--caret-background-color:#0000d3;
--system-visual-style:contrast;
}

[theme="B"][visualcolors="forced"]  {
--body-background-image:url("");
--body-background-color:#000000;
--secondary-accent-background-color:#f20884;
--page-background-color:#000000;
--page-border-background-color:#c0c0c0;
--page-text-background-color:#1fb714;
--accent-background-color:#0000d3;
--caret-background-color:#02abea;
--system-visual-style:contrast;
}

[theme="C"][visualcolors="forced"]  {
--body-background-image:url("");
--body-background-color:#000000;
--secondary-accent-background-color:#fbf305;
--page-background-color:#000000;
--page-border-background-color:#1fb714;
--page-text-background-color:#ffffff;
--accent-background-color:#02abea;
--caret-background-color:#4700a5;
--system-visual-style:contrast;
}


[theme="D"][visualcolors="forced"]  {
--body-background-image:url("");
--body-background-color:#ffffff;
--secondary-accent-background-color:#0000d3;
--page-background-color:#ffffff;
--page-border-background-color:#562c05;
--page-text-background-color:#000000;
--accent-background-color:#4700a5;
--caret-background-color:#000000;
--system-visual-style:contrast;
}

/* 2022 - First */
[theme="A"][visualcolors="forced2"]  {
--body-background-image:url("");
--body-background-color:#000000;
--superbar-text-background-color:#ffffff;
--secondary-accent-background-color:#ff33bb;
--page-background-color:#000000;
--page-border-background-color:#55ff33;
--page-text-background-color:#ffdd33;
--accent-background-color:#2a8019;
--caret-background-color:#3355ff;
--system-visual-style:contrast;
}

[theme="B"][visualcolors="forced2"]  {
--body-background-image:url("");
--body-background-color:#000000;
--superbar-text-background-color:#ffffff;
--secondary-accent-background-color:#ff33bb;
--page-background-color:#000000;
--page-border-background-color:#bfbfbf;
--page-text-background-color:#55ff33;
--accent-background-color:#3355ff;
--caret-background-color:#33bbff;
--system-visual-style:contrast;
}

[theme="C"][visualcolors="forced2"]  {
--body-background-image:url("");
--body-background-color:#000000;
--superbar-text-background-color:#ffffff;
--secondary-accent-background-color:#ffdd33;
--page-background-color:#000000;
--page-border-background-color:#55ff33;
--page-text-background-color:#ffffff;
--accent-background-color:#33bbff;
--caret-background-color:#4d1980;
--system-visual-style:contrast;
}


[theme="D"][visualcolors="forced2"]  {
--body-background-image:url("");
--body-background-color:#ffffff;
--superbar-text-background-color:#000000;
--secondary-accent-background-color:#3355ff;
--page-background-color:#ffffff;
--page-border-background-color:#805e19;
--page-text-background-color:#000000;
--accent-background-color:#4d1980;
--caret-background-color:#000000;
--system-visual-style:contrast;
}

/* 2022 - Second */
[theme="A"][visualcolors="forced3"]  {
--body-background-image:url("");
--body-background-color:#ffffff;
--superbar-text-background-color:#000000;
--secondary-accent-background-color:#ff3355;
--page-background-color:#ffffff;
--page-border-background-color:#806f19;
--page-text-background-color:#4d1980;
--accent-background-color:#ffbb33;
--caret-background-color:#ffdd33;
--system-visual-style:contrast;
}

[theme="B"][visualcolors="forced3"]  {
--body-background-image:url("");
--body-background-color:#ffffff;
--superbar-text-background-color:#000000;
--secondary-accent-background-color:#80195d;
--page-background-color:#ffffff;
--page-border-background-color:#195db8;
--page-text-background-color:#3355ff;
--accent-background-color:#80192b;
--caret-background-color:#ff3355;
--system-visual-style:contrast;
}

[theme="C"][visualcolors="forced3"]  {
--body-background-image:url("");
--body-background-color:#ffffff;
--superbar-text-background-color:#000000;
--secondary-accent-background-color:#805e19;
--page-background-color:#ffffff;
--page-border-background-color:#404040;
--page-text-background-color:#ff3355;
--accent-background-color:#80195d;
--caret-background-color:#ffbb33;
--system-visual-style:contrast;
}


[theme="D"][visualcolors="forced3"]  {
--body-background-image:url("");
--body-background-color:#000000;
--superbar-text-background-color:#ffffff;
--secondary-accent-background-color:#ffbb33;
--page-background-color:#000000;
--page-border-background-color:#ff3355;
--page-text-background-color:#33bbff;
--accent-background-color:#ff33bb;
--caret-background-color:#404040;
--system-visual-style:contrast;
}



/* Luna Colors */
[visualcolors="lunacolors"] {
--body-background-image:url("Luna.jpg");
--body-background-mode:full;
--body-background-vertical-alignment:top;
--body-background-size:stretched;
--body-background-no-tiling:false;
--system-visual-style:basic;
}

[theme="A"][visualcolors="lunacolors"]  { /* Blue */
--body-background-color:#708fc6;
--secondary-accent-background-color:#215dc6;
--page-background-color:#edead9;
--page-border-background-color:#7292e1;
--page-text-background-color:#333333;
--accent-background-color:#47ab47;
--caret-background-color:#215dc6;
}

[theme="B"][visualcolors="lunacolors"]  { /* Olive */
--body-background-color:#d5e6bc;
--secondary-accent-background-color:#56662d;
--page-background-color:#edead9;
--page-border-background-color:#a8b689;
--page-text-background-color:#333333;
--accent-background-color:#51824a;
--caret-background-color:#8ea06e;
}

[theme="C"][visualcolors="lunacolors"]  { /* Silver */
--body-background-color:#d8d1d1;
--secondary-accent-background-color:#3f3d3d;
--page-background-color:#edead9;
--page-border-background-color:#acb0be;
--page-text-background-color:#333333;
--accent-background-color:#238f29;
--caret-background-color:#8c8ba0;
}


[theme="D"][visualcolors="lunacolors"]  { /* Zune */
--body-background-color:#cccccc;
--secondary-accent-background-color:#000080;
--page-background-color:#e2e2e2;
--page-border-background-color:#555555;
--page-text-background-color:#000000;
--accent-background-color:#e07330;
--caret-background-color:#282828;
}


/** Classic Forced Colors **/
/* Windows 10 */
[theme="A"][visualcolors="classicforced"]  {
--body-background-image:url("");
--body-background-color:#000000;
--secondary-accent-background-color:#8080ff;
--page-background-color:#000000;
--page-border-background-color:#00ff00;
--page-text-background-color:#ffff00;
--accent-background-color:#008000;
--caret-background-color:#0000ff;
--system-visual-style:contrast;
}

[theme="B"][visualcolors="classicforced"]  {
--body-background-image:url("");
--body-background-color:#000000;
--secondary-accent-background-color:#8080ff;
--page-background-color:#000000;
--page-border-background-color:#c0c0c0;
--page-text-background-color:#00ff00;
--accent-background-color:#0000FF;
--caret-background-color:#00ffff;
--system-visual-style:contrast;
}

[theme="C"][visualcolors="classicforced"]  {
--body-background-image:url("");
--body-background-color:#000000;
--secondary-accent-background-color:#ffff00;
--page-background-color:#000000;
--page-border-background-color:#3ff23f;
--page-text-background-color:#ffffff;
--accent-background-color:#1AEBFF;
--caret-background-color:#37006e;
--system-visual-style:contrast;
}


[theme="D"][visualcolors="classicforced"]  {
--body-background-image:url("");
--body-background-color:#ffffff;
--secondary-accent-background-color:#00009f;
--page-background-color:#ffffff;
--page-border-background-color:#600000;
--page-text-background-color:#000000;
--accent-background-color:#37006E;
--caret-background-color:#000000;
--system-visual-style:contrast;
}

/* Windows 11 */

[theme="A"][visualcolors="classicforced2"]  {
--body-background-image:url("");
--body-background-color:#2d3236;
--secondary-accent-background-color:#70ebde;
--page-background-color:#2d3236;
--page-border-background-color:#a6a6a6;
--page-text-background-color:#ffffff;
--accent-background-color:#a1bfde;
--caret-background-color:#dafdff;
--system-visual-style:contrast;
}

[theme="B"][visualcolors="classicforced2"]  {
--body-background-image:url("");
--body-background-color:#000000;
--secondary-accent-background-color:#8080ff;
--page-background-color:#000000;
--page-border-background-color:#a6a6a6;
--page-text-background-color:#ffffff;
--accent-background-color:#d6b4fd;
--caret-background-color:#868cff;
--system-visual-style:contrast;
}

[theme="C"][visualcolors="classicforced2"]  {
--body-background-image:url("");
--body-background-color:#202020;
--secondary-accent-background-color:#1c5e75;
--page-background-color:#202020;
--page-border-background-color:#a6a6a6;
--page-text-background-color:#ffffff;
--accent-background-color:#8ee3f0;
--caret-background-color:#f5c52a;
--system-visual-style:contrast;
}


[theme="D"][visualcolors="classicforced2"]  {
--body-background-image:url("");
--body-background-color:#fffaef;
--secondary-accent-background-color:#00009f;
--page-background-color:#fffaef;
--page-border-background-color:#676767;
--page-text-background-color:#3d3d3d;
--accent-background-color:#903909;
--caret-background-color:#365879;
--system-visual-style:contrast;
}


/* Campbell Forced Colors */
[theme="A"][visualcolors="campbellforced"]  {
--body-background-image:url("");
--body-background-color:#0c0c0c;
--secondary-accent-background-color:#3a96dd;
--page-background-color:#0c0c0c;
--page-border-background-color:#16c60c;
--page-text-background-color:#f9f1a5;
--accent-background-color:#13a10e;
--caret-background-color:#3b78ff;
--system-visual-style:contrast;
}

[theme="B"][visualcolors="campbellforced"]  {
--body-background-image:url("");
--body-background-color:#0c0c0c;
--secondary-accent-background-color:#3a96dd;
--page-background-color:#0c0c0c;
--page-border-background-color:#cccccc;
--page-text-background-color:#16c60c;
--accent-background-color:#3b78ff;
--caret-background-color:#61d6d6;
--system-visual-style:contrast;
}

[theme="C"][visualcolors="campbellforced"]  {
--body-background-image:url("");
--body-background-color:#0c0c0c;
--secondary-accent-background-color:#f9f1a5;
--page-background-color:#0c0c0c;
--page-border-background-color:#16c60c;
--page-text-background-color:#f2f2f2;
--accent-background-color:#61d6d6;
--caret-background-color:#881798;
--system-visual-style:contrast;
}


[theme="D"][visualcolors="campbellforced"]  {
--body-background-image:url("");
--body-background-color:#f2f2f2;
--secondary-accent-background-color:#0037da;
--page-background-color:#f2f2f2;
--page-border-background-color:#c50f1f;
--page-text-background-color:#0c0c0c;
--accent-background-color:#881798;
--caret-background-color:#0c0c0c;
--system-visual-style:contrast;
}




/* Tango Forced Colors */
[theme="A"][visualcolors="tangoforced"]  {
--body-background-image:url("");
--body-background-color:#000000;
--secondary-accent-background-color:#ad7fa8;
--page-background-color:#000000;
--page-border-background-color:#8ae234;
--page-text-background-color:#fce94f;
--accent-background-color:#4e9a06;
--caret-background-color:#729fcf;
--system-visual-style:contrast;
}

[theme="B"][visualcolors="tangoforced"]  {
--body-background-image:url("");
--body-background-color:#000000;
--secondary-accent-background-color:#ad7fa8;
--page-background-color:#000000;
--page-border-background-color:#d3d7cf;
--page-text-background-color:#8ae234;
--accent-background-color:#729fcf;
--caret-background-color:#34e2e2;
--system-visual-style:contrast;
}

[theme="C"][visualcolors="tangoforced"]  {
--body-background-image:url("");
--body-background-color:#000000;
--secondary-accent-background-color:#fce94f;
--page-background-color:#000000;
--page-border-background-color:#8ae234;
--page-text-background-color:#eeeeec;
--accent-background-color:#34e2e2;
--caret-background-color:#75507b;
--system-visual-style:contrast;
}


[theme="D"][visualcolors="tangoforced"]  {
--body-background-image:url("");
--body-background-color:#eeeeec;
--secondary-accent-background-color:#3465a4;
--page-background-color:#eeeeec;
--page-border-background-color:#cc0000;
--page-text-background-color:#000000;
--accent-background-color:#75507b;
--caret-background-color:#000000;
--system-visual-style:contrast;
}

/* Factory colors used in evelution Store and Wiki Creation Wizard */
 [theme="A"][visualcolors="factorycolors"] {
--body-background-image:url("");
--body-background-color:#f6f6f6;
--secondary-accent-background-color:#00a3a3;
--page-background-color:#ffffff;
--page-border-background-color:#cccccc;
--page-text-background-color:#002a32;
--accent-background-color:#00D6D6;
--caret-background-color:#13282c;
}

[theme="B"][visualcolors="factorycolors"] {
--body-background-image:url("");
--body-background-color:#f6f6f6;
--secondary-accent-background-color:#0095c0;
--page-background-color:#ffffff;
--page-border-background-color:#cccccc;
--page-text-background-color:#1a1a1a;
--accent-background-color:#00B7E0;
--caret-background-color:#404a57;
}

[theme="C"][visualcolors="factorycolors"] {
--body-background-image:url("");
--body-background-color:#002a32;
--secondary-accent-background-color:#3c7fda;
--page-background-color:#0e191a;
--page-border-background-color:#7f9998;
--page-text-background-color:#d4d5d5;
--accent-background-color:#1a5eb8;
--caret-background-color:#404a56;
}

[theme="D"][visualcolors="factorycolors"] {
--body-background-image:url("");
--body-background-color:#002a32;
--secondary-accent-background-color:#5f7a7b;
--page-background-color:#0e191a;
--page-border-background-color:#7f9998;
--page-text-background-color:#f2f5f5;
--accent-background-color:#5f7a7b;
--caret-background-color:#becfd0;
}

/* RGB Celebration Colors */
[theme="A"][visualcolors="rgbcolors"]  {
--body-background-image:url("");
--body-background-color:#f73400;
--secondary-accent-background-color:#600000;
--page-background-color:#fedfec;
--page-border-background-color:#800000;
--page-text-background-color:#3a3a3a;
--accent-background-color:#d13438;
--caret-background-color:#ff00bf!important;
}

[theme="B"][visualcolors="rgbcolors"] {
--body-background-image:url("");
--body-background-color:#5ea200;
--secondary-accent-background-color:#006412;
--page-background-color:#82ca9c;
--page-border-background-color:#008000;
--page-text-background-color:#3a3a3a;
--accent-background-color:#107c10;
--caret-background-color:#bfff00!important;
}

[theme="C"][visualcolors="rgbcolors"] {
--body-background-image:url("");
--body-background-color:#0068b7;
--secondary-accent-background-color:#00007f;
--page-background-color:#99d9ea;
--page-border-background-color:#008080;
--page-text-background-color:#3a3a3a;
--accent-background-color:#0063b1;
--caret-background-color:#00bfff!important;
}

[theme="D"][visualcolors="rgbcolors"] {
--body-background-image:url("");
--body-background-color:#e2e2e2;
--secondary-accent-background-color:#404040;
--page-background-color:#dcdcdc;
--page-border-background-color:#a3a3a3;
--page-text-background-color:#3a3a3a;
--accent-background-color:#515c6b;
--caret-background-color:#bf00ff!important;
}

/** Retro Colors **/

/* All */
[visualcolors="retro"],
[visualcolors="retro2"],
[visualcolors="retro3"],
[visualcolors="retro4"],
[visualcolors="retro5"],
[visualcolors="retro6"],
[visualcolors="retro7"]    {
--system-visual-style:simple;
}

/* First */
[theme="A"][visualcolors="retro"]  {
--body-background-image:url("headbg.jpg");
--body-background-color:#e995ca;
--secondary-accent-background-color:#0699a3;
--page-background-color:#ffffff;
--page-border-background-color:#b0a8ad;
--page-text-background-color:#000000;
--accent-background-color:#18BBC5;
--caret-background-color:#ffffff;
}

[theme="B"][visualcolors="retro"]  {
--body-background-image:url("headbg3.jpg");
--body-background-color:#166a35;
--secondary-accent-background-color:#e7443a;
--page-background-color:#000000;
--page-border-background-color:#4f5752;
--page-text-background-color:#ffffff;
--accent-background-color:#e7443a;
--caret-background-color:#000000;
}

[theme="C"][visualcolors="retro"]  {
--body-background-image:url("headbg.jpg");
--body-background-color:#a99b3a;
--secondary-accent-background-color:#046691;
--page-background-color:#abc123;
--page-border-background-color:#68a001;
--page-text-background-color:#000111;
--accent-background-color:#3d3d99;
--caret-background-color:#f7f7f7;
}

[theme="D"][visualcolors="retro"]  {
--body-background-image:url("headbg.jpg");
--body-background-color:#e995ca;
--secondary-accent-background-color:#c900c9;
--page-background-color:#ffc0cb;
--page-border-background-color:#dd94a0;
--page-text-background-color:#020202;
--accent-background-color:#ff0051;
--caret-background-color:#ff8093;
}


/* Second */
[theme="A"][visualcolors="retro2"] {
--body-background-image:url("headbg.jpg");
--body-background-color:#e995ca;
--secondary-accent-background-color:#058892;
--page-background-color:#ffffff;
--page-border-background-color:#ccc;
--page-text-background-color:#000000;
--accent-background-color:#18BBC5;
--caret-background-color:#0000ff;
}

[theme="B"][visualcolors="retro2"] {
--body-background-image:url("headbg.jpg");
--body-background-color:#54d9f8;
--secondary-accent-background-color:#860498;
--page-background-color:#ffecff;
--page-border-background-color:#aac426;
--page-text-background-color:#2a2a2a;
--accent-background-color:#70C800;
--caret-background-color:#50679b;
}

[theme="C"][visualcolors="retro2"] {
--body-background-image:url("headbg3.jpg");
--body-background-color:#610038;
--secondary-accent-background-color:#5959ff;
--page-background-color:#282828;
--page-border-background-color:#cccccc;
--page-text-background-color:#f9f9f9;
--accent-background-color:#2239ae;
--caret-background-color:#7f6969;
}

[theme="D"][visualcolors="retro2"] {
--body-background-image:url("headbg6.jpg");
--body-background-color:#ac599e;
--secondary-accent-background-color:#298805;
--page-background-color:#ffffff;
--page-border-background-color:#cccccc;
--page-text-background-color:#000000;
--accent-background-color:#5CBB81;
--caret-background-color:#ff0000;
}

/* Third */
[theme="A"][visualcolors="retro3"] {
--body-background-image:url("");
--body-background-color:#a2ddfe;
--secondary-accent-background-color:#e14a22;
--page-background-color:#fefeff;
--page-border-background-color:#7e787d;
--page-text-background-color:#020002;
--accent-background-color:#FEAFD3;
--caret-background-color:#639d04;
}

[theme="B"][visualcolors="retro3"] {
--body-background-image:url("nightly.jpg");
--body-background-color:#000;
--secondary-accent-background-color:#00ffff;
--page-background-color:#3a3a3a;
--page-border-background-color:#cccddd;
--page-text-background-color:#c9d4d5;
--accent-background-color:#375885;
--caret-background-color:#663399;
}

[theme="C"][visualcolors="retro3"] {
--body-background-image:url("dev.jpg");
--body-background-color:#0000aa;
--secondary-accent-background-color:#00aaff;
--page-background-color:#0000a8;
--page-border-background-color:#aaaacc;
--page-text-background-color:#f9f9f9;
--accent-background-color:#00699E;
--caret-background-color:#16c4c4;
}

[theme="D"][visualcolors="retro3"] {
--body-background-image:url("headbg5.jpg");
--body-background-color:#76f6ff;
--secondary-accent-background-color:#800080;
--page-background-color:#e0e8ee;
--page-border-background-color:#dda0a9;
--page-text-background-color:#1a2b3c;
--accent-background-color:#E78097;
--caret-background-color:#c384df;
}

/* Fourth to Seventh*/

[visualcolors="retro4"],
[visualcolors="retro5"],
[visualcolors="retro6"],
[visualcolors="retro7"]    {
--page-text-background-color:#000000!important;
}

/* Fourth */
[theme="A"][visualcolors="retro4"] {
    --body-background-color:#420000;
    --body-background-image:url("");
    --secondary-accent-background-color:#800000;
    --page-background-color:#c2bfa5;
    --page-border-background-color:#8d8961;
    --accent-background-color:#8d8961;
    --caret-background-color:#800000;
}

[theme="B"][visualcolors="retro4"] {
    --body-background-color:#a28d68;
    --body-background-image:url("");
    --secondary-accent-background-color:#008080;
    --page-background-color:#d6ccbb;
    --page-border-background-color:#a28d68;
    --accent-background-color:#008080;
    --caret-background-color:#008080;
}

[theme="C"][visualcolors="retro4"] {
    --body-background-color:#400040;
    --body-background-image:url("");
    --secondary-accent-background-color:#366056;
    --page-background-color:#90b0a8;
    --page-border-background-color:#588078;
    --accent-background-color:#588078;
    --caret-background-color:#588078;
}

[theme="D"][visualcolors="retro4"] {
    --body-background-color:#000000;
    --body-background-image:url("");
    --secondary-accent-background-color:#493da0;
    --page-background-color:#aea8d9;
    --page-border-background-color:#5a4eb1;
    --accent-background-color:#5a4eb1;
    --caret-background-color:#5a4eb1;
}

/* Fifth */
[theme="A"][visualcolors="retro5"] {
    --body-background-color:#000000;
    --body-background-image:url("");
    --secondary-accent-background-color:#937313;
    --page-background-color:#e6d8ae;
    --page-border-background-color:#c6a646;
    --accent-background-color:#c6a646;
    --caret-background-color:#800000;
}

[theme="B"][visualcolors="retro5"] {
    --body-background-color:#2c4e47;
    --body-background-image:url("");
    --secondary-accent-background-color:#000080;
    --page-background-color:#88c0b8;
    --page-border-background-color:#489088;
    --accent-background-color:#000080;
    --caret-background-color:#000080;
}

[theme="C"][visualcolors="retro5"] {
    --body-background-color:#402840;
    --body-background-image:url("");
    --secondary-accent-background-color:#484060;
    --page-background-color:#a89890;
    --page-border-background-color:#786058;
    --accent-background-color:#008080;
    --caret-background-color:#484060;
}

[theme="D"][visualcolors="retro5"] {
    --body-background-color:#420042;
    --body-background-image:url("");
    --secondary-accent-background-color:#93610b;
    --page-background-color:#ecd59d;
    --page-border-background-color:#d7a52f;
    --accent-background-color:#800080;
    --caret-background-color:#d7a52f;
}

/* Sixth */
[theme="A"][visualcolors="retro6"] {
    --body-background-color:#000000;
    --body-background-image:url("");
    --secondary-accent-background-color:#2d435b;
    --page-background-color:#8399b1;
    --page-border-background-color:#4f657d;
    --accent-background-color:#4f657d;
    --caret-background-color:#4f657d;
}

[theme="B"][visualcolors="retro6"] {
    --body-background-color:#000042;
    --body-background-image:url("");
    --secondary-accent-background-color:#800000;
    --page-background-color:#c0c0c0;
    --page-border-background-color:#808080;
    --accent-background-color:#800000;
    --caret-background-color:#800000;
}

[theme="C"][visualcolors="retro6"] {
    --body-background-color:#808080;
    --body-background-image:url("");
    --secondary-accent-background-color:#8e5060;
    --page-background-color:#cfafb7;
    --page-border-background-color:#9f6070;
    --accent-background-color:#9f6070;
    --caret-background-color:#9f6070;
}

[theme="D"][visualcolors="retro6"] {
    --body-background-color:#414141;
    --body-background-image:url("");
    --secondary-accent-background-color:#336075;
    --page-background-color:#9db9c8;
    --page-border-background-color:#558097;
    --accent-background-color:#558097;
    --caret-background-color:#558097;
}

/* Seventh */
[theme="A"][visualcolors="retro7"] {
    --body-background-color:#213f21;
    --body-background-image:url("");
    --secondary-accent-background-color:#377542;
    --page-background-color:#a2c8a9;
    --page-border-background-color:#599764;
    --accent-background-color:#599764;
    --caret-background-color:#599764;
}

[theme="B"][visualcolors="retro7"] {
    --body-background-color:#000000;
    --body-background-image:url("");
    --secondary-accent-background-color:#800080;
    --page-background-color:#c0c0c0;
    --page-border-background-color:#808080;
    --accent-background-color:#800080;
    --caret-background-color:#800080;
}

[theme="C"][visualcolors="retro7"] {
    --body-background-color:#004040;
    --body-background-image:url("");
    --secondary-accent-background-color:#007070;
    --page-background-color:#c0c0c0;
    --page-border-background-color:#808080;
    --accent-background-color:#008080;
    --caret-background-color:#008080;
}

[theme="D"][visualcolors="retro7"] {
    --body-background-color:#00401d;
    --body-background-image:url("");
    --secondary-accent-background-color:#808000;
    --page-background-color:#dedea0;
    --page-border-background-color:#abab30;
    --accent-background-color:#808000;
    --caret-background-color:#808000;
}

/* Fandom 1 */
[theme="A"][visualcolors="fandomcolors"] {
--body-background-image:url("FandomBG1.png");
--body-background-color:#ffc500;
--body-background-mode:standard;
--body-background-vertical-alignment:center;
--body-background-size:cover;
--body-background-no-tiling:false;
--secondary-accent-background-color:#520044;
--page-background-color:#ffffff;
--page-border-background-color:auto;
--page-text-background-color:auto;
--accent-background-color:#520044;
--caret-background-color:#520044;
--custom-secondary-font:"Rubik";
--system-visual-style:lite;
}


[theme="B"][visualcolors="fandomcolors"] {
--body-background-image:url("FandomBG2.png");
--body-background-color:#ffc500;
--body-background-mode:standard;
--body-background-vertical-alignment:center;
--body-background-size:cover;
--body-background-no-tiling:false;
--secondary-accent-background-color:#fa005a;
--page-background-color:#ffffff;
--page-border-background-color:auto;
--page-text-background-color:auto;
--accent-background-color:#fa005a;
--caret-background-color:#fa005a;
--custom-secondary-font:"Rubik";
--system-visual-style:lite;
}


[theme="C"][visualcolors="fandomcolors"] {
--body-background-image:url("FandomBG3.png");
--body-background-color:#520044;
--body-background-mode:standard;
--body-background-vertical-alignment:center;
--body-background-size:cover;
--body-background-no-tiling:false;
--secondary-accent-background-color:#ffc500;
--page-background-color:#070f10;
--page-border-background-color:auto;
--page-text-background-color:auto;
--accent-background-color:#ffc500;
--caret-background-color:#ffc500;
--custom-secondary-font:"Rubik";
--system-visual-style:lite;
}

[theme="D"][visualcolors="fandomcolors"] {
--body-background-image:url("FandomBG4.png");
--body-background-color:#520044;
--body-background-mode:standard;
--body-background-vertical-alignment:center;
--body-background-size:cover;
--body-background-no-tiling:false;
--secondary-accent-background-color:#86d7dc;
--page-background-color:#070f10;
--page-border-background-color:auto;
--page-text-background-color:auto;
--accent-background-color:#86d7dc;
--caret-background-color:#86d7dc;
--custom-secondary-font:"Rubik";
--system-visual-style:lite;
}

/* Fandom 2 */
[theme="A"][visualcolors="fandomcolors2"] {
--body-background-image:url("FandomBG5.png");
--body-background-color:#1e0c1b;
--body-background-mode:standard;
--body-background-horizontal-alignment:center;
--body-background-vertical-alignment:center;
--body-background-size:cover;
--body-background-no-horizontal-tiling:false;
--body-background-no-vertical-tiling:false;
--secondary-accent-background-color:#520044;
--page-background-color:#ffffff;
--page-border-background-color:auto;
--page-text-background-color:auto;
--accent-background-color:#ffc500;
--caret-background-color:#ffffff;
--system-visual-style:lite;
}

[theme="B"][visualcolors="fandomcolors2"] {
--body-background-image:url("FandomBG5.png");
--body-background-color:#000000;
--body-background-mode:standard;
--body-background-horizontal-alignment:center;
--body-background-vertical-alignment:center;
--body-background-size:cover;
--body-background-no-horizontal-tiling:false;
--body-background-no-vertical-tiling:false;
--secondary-accent-background-color:#ffc500;
--page-background-color:#1e0c1b;
--page-border-background-color:auto;
--page-text-background-color:auto;
--accent-background-color:#473945;
--caret-background-color:#1e0c1b;
--system-visual-style:lite;
}

[theme="C"][visualcolors="fandomcolors2"] {
--body-background-image:url("");
--body-background-color:#f2f2f2;
--body-background-mode:standard;
--body-background-horizontal-alignment:center;
--body-background-vertical-alignment:center;
--body-background-size:cover;
--body-background-no-horizontal-tiling:false;
--body-background-no-vertical-tiling:false;
--secondary-accent-background-color:#8a8a8a;
--page-background-color:#ffffff;
--page-border-background-color:auto;
--page-text-background-color:auto;
--accent-background-color:#6c6c6c;
--caret-background-color:#ffffff;
--system-visual-style:lite;
}

[theme="D"][visualcolors="fandomcolors2"] {
--body-background-image:url("");
--body-background-color:#000000;
--body-background-mode:standard;
--body-background-horizontal-alignment:center;
--body-background-vertical-alignment:center;
--body-background-size:cover;
--body-background-no-horizontal-tiling:false;
--body-background-no-vertical-tiling:false;
--secondary-accent-background-color:#b8b8b8;
--page-background-color:#2f2f2f;
--page-border-background-color:auto;
--page-text-background-color:auto;
--accent-background-color:#ffffff;
--caret-background-color:#2f2f2f;
--system-visual-style:lite;
}

/* Fandom 3 */
[theme="A"][visualcolors="fandomcolors3"] {
--body-background-image:url("FandomBG6.png");
--body-background-color:#f7b2e3;
--body-background-mode:standard;
--body-background-horizontal-alignment:center;
--body-background-vertical-alignment:center;
--body-background-size:cover;
--body-background-no-horizontal-tiling:false;
--body-background-no-vertical-tiling:false;
--secondary-accent-background-color:#d6389f;
--page-background-color:#ffffff;
--page-border-background-color:auto;
--page-text-background-color:auto;
--accent-background-color:#ff94da;
--caret-background-color:#ffffff;
--system-visual-style:lite;
}

[theme="B"][visualcolors="fandomcolors3"] {
--body-background-image:url("FandomBG7.png");
--body-background-color:#250f12;
--body-background-mode:standard;
--body-background-horizontal-alignment:center;
--body-background-vertical-alignment:center;
--body-background-size:cover;
--body-background-no-horizontal-tiling:false;
--body-background-no-vertical-tiling:false;
--secondary-accent-background-color:#c873aa;
--page-background-color:#401c31;
--page-border-background-color:auto;
--page-text-background-color:auto;
--accent-background-color:#932061;
--caret-background-color:#401c31;
--system-visual-style:lite;
}

[theme="C"][visualcolors="fandomcolors3"] {
--body-background-image:url("FandomBG8.png");
--body-background-color:#727467;
--body-background-mode:standard;
--body-background-horizontal-alignment:center;
--body-background-vertical-alignment:center;
--body-background-size:cover;
--body-background-no-horizontal-tiling:false;
--body-background-no-vertical-tiling:false;
--secondary-accent-background-color:#068959;
--page-background-color:#edeee8;
--page-border-background-color:auto;
--page-text-background-color:auto;
--accent-background-color:#00dc9a;
--caret-background-color:#edeee8;
--system-visual-style:lite;
}

[theme="D"][visualcolors="fandomcolors3"] {
--body-background-image:url("FandomBG9.png");
--body-background-color:#2e2f24;
--body-background-mode:standard;
--body-background-horizontal-alignment:center;
--body-background-vertical-alignment:center;
--body-background-size:cover;
--body-background-no-horizontal-tiling:false;
--body-background-no-vertical-tiling:false;
--secondary-accent-background-color:#3bffb9;
--page-background-color:#1e1c12;
--page-border-background-color:auto;
--page-text-background-color:auto;
--accent-background-color:#2ec195;
--caret-background-color:#1e1c12;
--system-visual-style:lite;
}

/** Candy Crush Colors **/

/* First */
[theme="A"][visualcolors="candycrush"] {
--body-background-image:url('headbg.jpg');
--body-background-image-opacity:100%;
--superbar-text-background-color:#140a14;
--body-background-color:#e995ca;
--body-background-mode:standard;
--body-background-horizontal-alignment:center;
--body-background-vertical-alignment:center;
--body-background-size:cover;
--body-background-no-horizontal-tiling:false;
--body-background-no-vertical-tiling:false;
--secondary-accent-background-color:#66003b;
--page-background-color:#f5ebf5;
--page-border-background-color:auto;
--page-text-background-color:auto;
--accent-background-color:#a81b79;
--caret-background-color:#6f027c;
--system-visual-style:lite;
}

[theme="B"][visualcolors="candycrush"] {
--body-background-image:url('headbg9.jpg');
--body-background-image-opacity:100%;
--superbar-text-background-color:#2b1508;
--body-background-color:#dfbddd;
--body-background-mode:standard;
--body-background-horizontal-alignment:center;
--body-background-vertical-alignment:center;
--body-background-size:cover;
--body-background-no-horizontal-tiling:false;
--body-background-no-vertical-tiling:false;
--secondary-accent-background-color:#4477dd;
--page-background-color:#f7e1d4;
--page-border-background-color:auto;
--page-text-background-color:auto;
--accent-background-color:#800080;
--caret-background-color:#cd92b7;
--system-visual-style:lite;
}

[theme="C"][visualcolors="candycrush"] {
--body-background-image:url('headbg3.jpg');
--body-background-image-opacity:100%;
--superbar-text-background-color:#f5ebf5;
--body-background-color:#66003b;
--body-background-mode:standard;
--body-background-horizontal-alignment:center;
--body-background-vertical-alignment:center;
--body-background-size:cover;
--body-background-no-horizontal-tiling:false;
--body-background-no-vertical-tiling:false;
--secondary-accent-background-color:#e995ca;
--page-background-color:#140a14;
--page-border-background-color:auto;
--page-text-background-color:auto;
--accent-background-color:#6f027c;
--caret-background-color:#a81b79;
--system-visual-style:lite;
}

[theme="D"][visualcolors="candycrush"] {
--body-background-image:url('headbg10.jpg');
--body-background-image-opacity:100%;
--superbar-text-background-color:#f7e1d4;
--body-background-color:#6d3257;
--body-background-mode:standard;
--body-background-horizontal-alignment:center;
--body-background-vertical-alignment:center;
--body-background-size:cover;
--body-background-no-horizontal-tiling:false;
--body-background-no-vertical-tiling:false;
--secondary-accent-background-color:#cd92b7;
--page-background-color:#2b1508;
--page-border-background-color:auto;
--page-text-background-color:auto;
--accent-background-color:#f7e1d4;
--caret-background-color:#800080;
--system-visual-style:lite;
}

[theme="A"][visualcolors="candycrush2"] {
--body-background-image:url('headbg5.jpg');
--body-background-image-opacity:100%;
--superbar-text-background-color:#000000;
--body-background-color:#f9ebc3;
--body-background-mode:standard;
--body-background-horizontal-alignment:center;
--body-background-vertical-alignment:center;
--body-background-size:cover;
--body-background-no-horizontal-tiling:false;
--body-background-no-vertical-tiling:false;
--secondary-accent-background-color:#6f027c;
--page-background-color:#ffffff;
--page-border-background-color:auto;
--page-text-background-color:auto;
--accent-background-color:#e30055;
--caret-background-color:#e30055;
--system-visual-style:lite;
}

[theme="B"][visualcolors="candycrush2"] {
--body-background-image:url(https://vignette.wikia.nocookie.net/candycrushfriendssaga/images/b/b5/Site-background-light/revision/latest?cb=20210817081503);
--body-background-image-opacity:100%;
--superbar-text-background-color:#0a1114;
--body-background-color:#cc6600;
--body-background-mode:standard;
--body-background-horizontal-alignment:center;
--body-background-vertical-alignment:center;
--body-background-size:cover;
--body-background-no-horizontal-tiling:false;
--body-background-no-vertical-tiling:false;
--secondary-accent-background-color:#54845e;
--page-background-color:#ebf2f5;
--page-border-background-color:auto;
--page-text-background-color:auto;
--accent-background-color:#a47719;
--caret-background-color:#a47719;
--system-visual-style:lite;
}

[theme="C"][visualcolors="candycrush2"] {
--body-background-image:url('headbg11.jpg');
--body-background-image-opacity:100%;
--superbar-text-background-color:#ffffff;
--body-background-color:#e30055;
--body-background-mode:standard;
--body-background-horizontal-alignment:center;
--body-background-vertical-alignment:center;
--body-background-size:cover;
--body-background-no-horizontal-tiling:false;
--body-background-no-vertical-tiling:false;
--secondary-accent-background-color:#e30055;
--page-background-color:#000000;
--page-border-background-color:auto;
--page-text-background-color:auto;
--accent-background-color:#f9ebc3;
--caret-background-color:#6f027c;
--system-visual-style:lite;
}

[theme="D"][visualcolors="candycrush2"] {
--body-background-image:url(https://vignette.wikia.nocookie.net/candycrushfriendssaga/images/0/08/Site-background-dark/revision/latest?cb=20210905160243);
--body-background-image-opacity:100%;
--superbar-text-background-color:#ebf2f5;
--body-background-color:#a47719;
--body-background-mode:standard;
--body-background-horizontal-alignment:center;
--body-background-vertical-alignment:center;
--body-background-size:cover;
--body-background-no-horizontal-tiling:false;
--body-background-no-vertical-tiling:false;
--secondary-accent-background-color:#a47719;
--page-background-color:#0a1114;
--page-border-background-color:auto;
--page-text-background-color:auto;
--accent-background-color:#54845e;
--caret-background-color:#cc6600;
--system-visual-style:lite;
}

/* Discord */
[theme="A"][visualcolors="discord"] {
--body-background-image:url("");
--body-background-image-opacity:100%;
--body-background-color:#2f3136;
--superbar-text-background-color:#dcddde;
--body-background-mode:standard;
--body-background-horizontal-alignment:center;
--body-background-vertical-alignment:center;
--body-background-size:cover;
--body-background-no-horizontal-tiling:false;
--body-background-no-vertical-tiling:false;
--secondary-accent-background-color:#00aff4;
--page-background-color:#36393f;
--page-border-background-color:auto;
--page-text-background-color:#dcddde;
--accent-background-color:#5865f2;
--caret-background-color:#72767d;
--custom-secondary-font:;
--border-radius:3px;
--logo-filter:opacity(1);
--logo-filter-hover:opacity(0.8);
--logo-filter-duration:300ms;
--logo-filter-delay:0ms;
--system-visual-style:basic;
}

[theme="B"][visualcolors="discord"] {
--body-background-image:url("");
--body-background-image-opacity:100%;
--body-background-color:#36393f;
--superbar-text-background-color:#dcddde;
--body-background-mode:standard;
--body-background-horizontal-alignment:center;
--body-background-vertical-alignment:center;
--body-background-size:cover;
--body-background-no-horizontal-tiling:false;
--body-background-no-vertical-tiling:false;
--secondary-accent-background-color:#00aff4;
--page-background-color:#2f3136;
--page-border-background-color:auto;
--page-text-background-color:#dcddde;
--accent-background-color:#5865f2;
--caret-background-color:#4c5059;
--custom-secondary-font:;
--border-radius:3px;
--logo-filter:opacity(1);
--logo-filter-hover:opacity(0.8);
--logo-filter-duration:300ms;
--logo-filter-delay:0ms;
--system-visual-style:basic;
}

[theme="C"][visualcolors="discord"] {
--body-background-image:url("");
--body-background-image-opacity:100%;
--body-background-color:#f2f3f5;
--superbar-text-background-color:#2e3338;
--body-background-mode:standard;
--body-background-horizontal-alignment:center;
--body-background-vertical-alignment:center;
--body-background-size:cover;
--body-background-no-horizontal-tiling:false;
--body-background-no-vertical-tiling:false;
--secondary-accent-background-color:#0068e0;
--page-background-color:#ffffff;
--page-border-background-color:auto;
--page-text-background-color:#2e3338;
--accent-background-color:#5865f2;
--caret-background-color:#747f8d;
--custom-secondary-font:;
--border-radius:3px;
--logo-filter:opacity(1);
--logo-filter-hover:opacity(0.8);
--logo-filter-duration:300ms;
--logo-filter-delay:0ms;
--system-visual-style:basic;
}

[theme="D"][visualcolors="discord"] {
--body-background-image:url("");
--body-background-image-opacity:100%;
--body-background-color:#ffffff;
--superbar-text-background-color:#2e3338;
--body-background-mode:standard;
--body-background-horizontal-alignment:center;
--body-background-vertical-alignment:center;
--body-background-size:cover;
--body-background-no-horizontal-tiling:false;
--body-background-no-vertical-tiling:false;
--secondary-accent-background-color:#0068e0;
--page-background-color:#f2f3f5;
--page-border-background-color:auto;
--page-text-background-color:#2e3338;
--accent-background-color:#5865f2;
--caret-background-color:#818b98;
--custom-secondary-font:;
--border-radius:3px;
--logo-filter:opacity(1);
--logo-filter-hover:opacity(0.8);
--logo-filter-duration:300ms;
--logo-filter-delay:0ms;
--system-visual-style:basic;
}

/* Evelution */
[theme="A"][visualcolors="evelution"] {
--body-background-image:url("EvelutionA.png");
--body-background-image-opacity:100%;
--body-background-color:#33bbff;
--superbar-text-background-color:#192a80;
--body-background-mode:full;
--body-background-horizontal-alignment:right;
--body-background-vertical-alignment:bottom;
--body-background-size:cover;
--body-background-no-horizontal-tiling:false;
--body-background-no-vertical-tiling:false;
--secondary-accent-background-color:#192a80;
--page-background-color:#ffffff;
--page-border-background-color:#bfbfbf;
--page-text-background-color:#404040;
--accent-background-color:#3355ff;
--caret-background-color:#195d80;
--custom-secondary-font:"";
--border-radius:3px;
--logo-filter:opacity(1);
--logo-filter-hover:opacity(0.8);
--logo-filter-duration:300ms;
--logo-filter-delay:0ms;
}

[theme="B"][visualcolors="evelution"] {
--body-background-image:url("EvelutionB.png");
--body-background-image-opacity:100%;
--body-background-color:#ff3355;
--superbar-text-background-color:#260d40;
--body-background-mode:full;
--body-background-horizontal-alignment:right;
--body-background-vertical-alignment:bottom;
--body-background-size:cover;
--body-background-no-horizontal-tiling:false;
--body-background-no-vertical-tiling:false;
--secondary-accent-background-color:#260d40;
--page-background-color:#ffffff;
--page-border-background-color:#bfbfbf;
--page-text-background-color:#404040;
--accent-background-color:#4d1980;
--caret-background-color:#80192b;
--custom-secondary-font:"";
--border-radius:3px;
--logo-filter:opacity(1);
--logo-filter-hover:opacity(0.8);
--logo-filter-duration:300ms;
--logo-filter-delay:0ms;
}


[theme="C"][visualcolors="evelution"] {
--body-background-image:url("EvelutionC.png");
--body-background-image-opacity:100%;
--body-background-color:#192a80;
--superbar-text-background-color:#33bbff;
--body-background-mode:full;
--body-background-horizontal-alignment:right;
--body-background-vertical-alignment:bottom;
--body-background-size:cover;
--body-background-no-horizontal-tiling:false;
--body-background-no-vertical-tiling:false;
--secondary-accent-background-color:#33bbff;
--page-background-color:#000000;
--page-border-background-color:#404040;
--page-text-background-color:#bfbfbf;
--accent-background-color:#195d80;
--caret-background-color:#3355ff;
--custom-secondary-font:"";
--border-radius:3px;
--logo-filter:opacity(1);
--logo-filter-hover:opacity(0.8);
--logo-filter-duration:300ms;
--logo-filter-delay:0ms;
}

[theme="D"][visualcolors="evelution"] {
--body-background-image:url("EvelutionD.png");
--body-background-image-opacity:100%;
--body-background-color:#260d40;
--superbar-text-background-color:#ff3355;
--body-background-mode:full;
--body-background-horizontal-alignment:right;
--body-background-vertical-alignment:bottom;
--body-background-size:cover;
--body-background-no-horizontal-tiling:false;
--body-background-no-vertical-tiling:false;
--secondary-accent-background-color:#ff3355;
--page-background-color:#000000;
--page-border-background-color:#404040;
--page-text-background-color:#bfbfbf;
--accent-background-color:#80192b;
--caret-background-color:#4d1980;
--custom-secondary-font:"";
--border-radius:3px;
--logo-filter:opacity(1);
--logo-filter-hover:opacity(0.8);
--logo-filter-duration:300ms;
--logo-filter-delay:0ms;
}