	<div style="position:absolute; z-index:-1;">
		<span class="fc-buttonface" style="color:buttonface"></span>
		<span class="fc-canvas" style="color:canvas;"></span>
		<span class="fc-linktext" style="color:linktext;"></span>
		<span class="fc-graytext" style="color:graytext;"></span>
		<span class="fc-canvastext" style="color:canvastext;"></span>
		<span class="fc-highlight" style="color:highlight;"></span>
		<span class="ad-alert" style="color:var(--alert-background-color)"></span>
		<span class="ad-warning" style="color:var(--warning-background-color)"></span>
		<span class="ad-success" style="color:var(--success-background-color)"></span>
		<span class="ad-message" style="color:var(--message-background-color)"></span>
		<span class="page-sec" style="color:var(--page-secondary-background-color)"></span>
		<span class="page-bor" style="color:var(--page-border-background-color)"></span>
	</div>
	<div class="gradient-overlay" style="position:absolute; pointer-events:none;"></div>
	<div class="invertion-on" style=" pointer-events: none; position: absolute; z-index: -2; width: 100%; height: 100%;"><div class="body-background " style="position:absolute; pointer-events:none;"></div></div>
	<div class="body-background-color" style="position:absolute; pointer-events:none;"></div>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&family=Rubik:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
<container>
	<div id="mw-wrapper">
		<div class="mw-body" id="content" role="main">
			<div id="siteNotice">{{{html-site-notice}}}</div>
			{{{html-user-message}}}
			<div class="mw-indicators mw-body-content">
			{{#array-indicators}}
			<div id="{{id}}" class="{{class}}">{{{html}}}</div>
			{{/array-indicators}}
			</div>
			<h1 class="firstHeading" {{{html-user-language-attributes}}}>{{{html-title}}}</h1>
			<div id="siteSub">{{msg-tagline}}</div>
			<div class="mw-body-content">
				<div id="contentSub">
					{{{html-subtitle}}}
					{{{html-undelete-link}}}
				</div>
				{{{html-body-content}}}
				<!-- todo: replace with .mixin-clearfix -->
				<div class="visualClear"></div>
				{{{html-categories}}}
			</div>
			{{{html-after-content}}}
		</div>
		<div id="mw-navigation">
			<h2>{{msg-navigation-heading}}</h2>
			<div id="p-logo" class="mw-portlet" role="banner">
				<a href="{{link-mainpage}}">
				{{#data-logos}}
					{{#icon}}<img src="{{.}}" width="40" height="40">{{/icon}}
					{{#wordmark}}<img src="{{src}}" width="{{width}}" height="{{height}}">{{/wordmark}}
					{{^wordmark}}<h1>{{msg-sitetitle}}</h1>{{/wordmark}}
				{{/data-logos}}
				</a>
			</div>
			<div id="contrast-modes">
				<div role="navigation" id="p-contrast-modes" class="mw-portlet mw-portlet-contrast-modes" title="" aria-labelledby="p-contrast-modes-label">
					<h3 id="p-contrast-modes-label">{{msg-tunic-contrast-modes}}</h3>
					<div class="mw-portlet-body">
						<ul>
							<li data-contrast-mode="auto"><a onclick="contrastmode('auto')">{{msg-tunic-auto}}</a></li>
							<li data-contrast-mode="low"><a onclick="contrastmode('low')">Low</a></li>
							<li data-contrast-mode="med-low"><a onclick="contrastmode('med-low')">Low-Med</a></li>
							<li data-contrast-mode="med"><a onclick="contrastmode('med')">Med</a></li>
							<li data-contrast-mode="med-hi"><a onclick="contrastmode('med-hi')">Med-High</a></li>
							<li data-contrast-mode="hi"><a onclick="contrastmode('hi')">High</a></li>
							<li data-contrast-mode="hi-vhi"><a onclick="contrastmode('hi-vhi')">High-VHigh</a></li>
							<li data-contrast-mode="vhi"><a onclick="contrastmode('vhi')">VHigh</a></li>
						</ul>		
					</div>
				</div>
			</div>
			<div id="color-modes">
				<div role="navigation" id="p-color-modes" class="mw-portlet mw-portlet-color-modes" title="" aria-labelledby="p-color-modes-label">
					<h3 id="p-color-modes-label">{{msg-tunic-colormodes}}</h3>
					<div class="mw-portlet-body">
						<ul>
							<li data-color-mode="auto"><a onclick="colortheme('auto')">{{msg-tunic-lightmode}} (Duo)</a></li>
							<li data-color-mode="auto-r"><a onclick="colortheme('auto-r')">{{msg-tunic-darkmode}} (Duo)</a></li>
							<li data-color-mode="light"><a onclick="colortheme('light')">{{msg-tunic-lightmode}} (Solo)</a></li>
							<li data-color-mode="dark"><a onclick="colortheme('dark')">{{msg-tunic-darkmode}} (Solo)</a></li>
							<li data-color-mode="gray"><a onclick="colortheme('gray')">{{msg-tunic-whitemode}} (Duo)</a></li>
							<li data-color-mode="gray-4"><a onclick="colortheme('gray-r')">{{msg-tunic-blackmode}} (Duo)</a></li>
							<li data-color-mode="white"><a onclick="colortheme('white')">{{msg-tunic-whitemode}} (Solo)</a></li>
							<li data-color-mode="black"><a onclick="colortheme('black')">{{msg-tunic-blackmode}} (Solo)</a></li>
							<li data-color-mode="reversed-r"><a onclick="colortheme('reversed-r')">{{msg-tunic-lightmode}} (Reversi)</a></li>
							<li data-color-mode="reversed"><a onclick="colortheme('reversed')">{{msg-tunic-darkmode}} (Reversi)</a></li>
							<li data-color-mode="blu-wht"><a onclick="colortheme('blu-wht')">{{msg-tunic-lightmode}} (Tint)</a></li>
							<li data-color-mode="yel-blk"><a onclick="colortheme('yel-blk')">{{msg-tunic-darkmode}} (Tint)</a></li>
							<li data-color-mode="temp"><a onclick="colortheme('temp')">{{msg-tunic-lightmode}} (Temperature)</a></li>
							<li data-color-mode="temp-r"><a onclick="colortheme('temp-r')">{{msg-tunic-darkmode}} (Temperature)</a></li>
							<li data-color-mode="rtemp"><a onclick="colortheme('rtemp')">{{msg-tunic-lightmode}} (Reversi Temperature)</a></li>
							<li data-color-mode="rtemp-r"><a onclick="colortheme('rtemp-r')">{{msg-tunic-darkmode}} (Reversi Temperature)</a></li>
						</ul>		
					</div>
				</div>
			</div>
			<div id="visual-colors">
				<div role="navigation" id="p-visual-colors" class="mw-portlet mw-portlet-visual-colors" title="" aria-labelledby="p-visual-colors-label">
					<h3 id="p-visual-colors-label">{{msg-tunic-visual-colors}}</h3>
					<div class="mw-portlet-body">
						<ul>
							<li data-visual-color="standard"><a onclick="VisualColor('standard')">{{msg-tunic-standard}}</a></li>
						</ul>		
					</div>
				</div>
			</div>
			<div id="wiki-themes">
				<div role="navigation" id="p-themes" class="mw-portlet mw-portlet-themes" title="" aria-labelledby="p-themes-label">
					<h3 id="p-themes-label">{{msg-tunic-themes}}</h3>
					<div class="mw-portlet-body">
						<ul>
							<li data-theme-change="theme-A"><a onclick="ToggleTheme('A')">{{msg-tunic-theme}} A</a></li>
							<li data-theme-change="theme-B"><a onclick="ToggleTheme('B')">{{msg-tunic-theme}} B</a></li>
							<li data-theme-change="theme-C"><a onclick="ToggleTheme('C')">{{msg-tunic-theme}} C</a></li>
							<li data-theme-change="theme-D"><a onclick="ToggleTheme('D')">{{msg-tunic-theme}} D</a></li>
							<li data-theme-change="theme-E"><a onclick="ToggleTheme('E')">{{msg-tunic-theme}} E</a></li>
							<li data-theme-change="theme-F"><a onclick="ToggleTheme('F')">{{msg-tunic-theme}} F</a></li>
							<li data-theme-change="theme-G"><a onclick="ToggleTheme('G')">{{msg-tunic-theme}} G</a></li>
							<li data-theme-change="theme-H"><a onclick="ToggleTheme('H')">{{msg-tunic-theme}} H</a></li>
						</ul>		
					</div>
				</div>
			</div>
			{{#data-search-box}}
			<form action="{{form-action}}" role="search" class="mw-portlet" id="p-search">
				<input type="hidden" name="title" value="{{page-title}}">
				<h3>
					<label for="searchInput">{{msg-search}}</label>
				</h3>
				{{{html-input}}}
				{{{html-button-search}}}
			</form>
			{{/data-search-box}}
			{{#data-portlets}}
			<div id="user-tools">
				{{#data-personal}}{{>Portlet}}{{/data-personal}}
			</div>
			<div id="page-tools">
				{{#data-namespaces}}{{>Portlet}}{{/data-namespaces}}
				{{#data-variants}}{{>Portlet}}{{/data-variants}}
				{{#data-views}}{{>Portlet}}{{/data-views}}
				{{#data-actions}}{{>Portlet}}{{/data-actions}}
			</div>
			{{/data-portlets}}
			<div id="site-navigation">
				{{#data-portlets-sidebar.data-portlets-first}}{{>Portlet}}{{/data-portlets-sidebar.data-portlets-first}}
				{{#data-portlets-sidebar.array-portlets-rest}}{{>Portlet}}{{/data-portlets-sidebar.array-portlets-rest}}
				{{#data-portlets.data-languages}}{{>Portlet}}{{/data-portlets.data-languages}}
			</div>
		</div>
		<div id="footer" class="mw-footer" role="contentinfo" {{{html-user-language-attributes}}}>
			{{#data-footer}}
			{{!}}{{#data-icons}}{{>FooterList}}{{/data-icons}}
			{{!}}<div id="footer-list">
			{{!}}{{#data-info}}{{>FooterList}}{{/data-info}}
			{{!}}{{#data-places}}{{>FooterList}}{{/data-places}}
			{{!}}</div>
			{{/data-footer}}
			<!-- todo: replace with .mixin-clearfix -->
			<div class="visualClear"></div>
		</div>
	</div>
</container>
	<script>
	/* Chroma JS */

	{{>Java_Chroma}}

	/* Theming JS */

	{{>Java_Theming}}

	/* Base JS */

	{{>Java_Base}}
	</script>
